In [392]:
list_df = pd.DataFrame(index=listed)
fla = []
valu = []
for code_start in listed:
    r = r + 1
    path = os.path.join(my_path, "../data/stock/")
    df_com = pd.read_csv(path + code_start + "_tick_df.csv")
    my_path = os.path.abspath(os.path.dirname('__file__'))
    path = os.path.join(my_path, "../data/cpickle/")
    art_ratios = pickle.load(open(path + "art_ratios.p", "rb"))
    art_ratios = art_ratios["mv"][code_start]
    art_ratios["close"] = (art_ratios["MV_pred"] / art_ratios["MV_pred"].iloc[0]) * 100
    art_ratios["close"] = (art_ratios["close"] + df_com["close"]) / 2
    rela_flo = (art_ratios["close"].iloc[-1] / df_com["close"].iloc[-1]) - 1
    if (rela_flo > -0.05) and (rela_flo < 0.05):
        valu.append("Fair Valued")
    elif (rela_flo < 0.05):
        valu.append("Overvalued")
    else:
        valu.append("Undervalued")
    fla.append(round(rela_flo * 100, 2))

list_df["Value"] = valu
list_df["Extent"] = fla

In [426]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(3.4, 4.4))

scaler.fit(list_df["Extent"].values.reshape(-1, 1))

list_df["Rating"] = scaler.transform(list_df["Extent"].values.reshape(-1, 1))

list_df["Rating"] = list_df["Rating"] * (1 + (list_df["Extent"].mean() / 100))

list_df["Rating"] = list_df["Rating"].round(2)

In [427]:
list_df

                      Value  Extent  Rating
code_or_ticker
CAKE             Overvalued  -17.67    3.38
RRGB             Overvalued  -22.47    3.29
BJRI            Undervalued   30.48    4.26

In [428]:
unlist_df = pd.DataFrame(index=codes)
fla = []
valu = []
for code_start in codes:
    r = r + 1
    my_path = os.path.abspath(os.path.dirname('__file__'))
    path = os.path.join(my_path, "../data/cpickle/")
    art_ratios = pickle.load(open(path + "art_ratios.p", "rb"))
    art_ratios = art_ratios["mv"][code_start]
    art_ratios["close"] = (art_ratios["MV_pred"] / art_ratios["MV_pred"].iloc[0]) * 100
    if code_start in list(listed):
        print("go")
        path = os.path.join(my_path, "../data/stock/")
        art_ratios = pd.read_csv(path + code_start + "_tick_df.csv")

    rela_flo = (art_ratios["close"].iloc[-1] / df2["mean"].iloc[-1]) - 1
    if (rela_flo > -0.05) and (rela_flo < 0.05):
        valu.append("Neutral")
    elif (rela_flo < 0.05):
        valu.append("Under")
    else:
        valu.append("Over")
    fla.append(round(rela_flo * 100, 2))

unlist_df["Value"] = valu
unlist_df["Extent"] = fla

go
go
go

In [390]:
list_df

NameError: name 'list_df' is not defined

In [374]:
unlist_df

                  Value  Extent
code_or_ticker
APPB            Neutral    4.68
CHIL               Over   16.38
CPKI              Under  -29.01
TGIF              Under  -16.92
CAKE               Over   24.82
RRGB               Over   44.81
BJRI              Under  -33.92

In [429]:
from datetime import timedelta

from sklearn.preprocessing import MinMaxScaler

my_path = os.path.abspath(os.path.dirname('__file__'))
path = os.path.join(my_path, "../input_fields.csv")

input_fields = pd.read_csv(path)

not_listed = input_fields[input_fields["listed"] == "No"].reset_index(drop=True)["code_or_ticker"]
path = os.path.join(my_path, "../data/stock/")

df2 = pd.read_csv(path+"bench_tick_df.csv")
df2["date"] = pd.to_datetime(df2["date"], format="%Y-%m-%d")
## Loop over all
codes = input_fields["code_or_ticker"]
listed = input_fields[input_fields["listed"] == "Yes"]["code_or_ticker"]
big_avg = pd.DataFrame()
r = -1

fla = []
valu = []
# listed = ["BJRI"]
dict_list = {}
for code_start in listed:
    r = r + 1
    path = os.path.join(my_path, "../data/stock/")
    df_com = pd.read_csv(path + code_start + "_tick_df.csv")
    df_com["date"] = pd.to_datetime(df_com["date"], format="%Y-%m-%d")
    my_path = os.path.abspath(os.path.dirname('__file__'))
    path = os.path.join(my_path, "../data/cpickle/")
    art_ratios = pickle.load(open(path + "art_ratios.p", "rb"))
    art_ratios = art_ratios["mv"][code_start]
    art_ratios["close_sim"] = (art_ratios["MV_pred"] / art_ratios["MV_pred"].iloc[0]) * 100
    art_ratios["date"] = pd.to_datetime(art_ratios["date"], format="%Y-%m-%d")
    art_ratios = pd.merge(art_ratios, df_com, on="date", how="left")
    art_ratios["close_sim"] = (art_ratios["close_sim"] + art_ratios["close"]) / 2
    art_ratios["Extend"] = (art_ratios["close_sim"] / art_ratios["close"]) - 1
    art_ratios = art_ratios[art_ratios["date"] > art_ratios["date"].max() - timedelta(365 * 4)]

    scaler = MinMaxScaler(feature_range=(2.5, 3))
    art_ratios = art_ratios.fillna(method="bfill").fillna(method="ffill")
    scaler.fit(art_ratios["Extend"].values.reshape(-1, 1))

    art_ratios["Rating List"] = scaler.transform(art_ratios["Extend"].values.reshape(-1, 1))
    art_ratios["Rating List"] = art_ratios["Rating List"]*(list_df.loc[code_start,'Rating']/art_ratios["Rating List"].iloc[-1])
    new_frame_listed = art_ratios[["date", "Rating List"]]
    dict_list[code_start] = new_frame_listed

In [452]:
df_com = pd.read_csv(path + code_start + "_tick_df.csv")

In [451]:
new_frame_listed.tail()

           date  Rating List
1514 2018-01-09     4.253980
1515 2018-01-10     4.260784
1516 2018-01-11     4.258041
1517 2018-01-12     4.255903
1518 2018-01-16     4.260000

In [430]:
list_df

                      Value  Extent  Rating
code_or_ticker
CAKE             Overvalued  -17.67    3.38
RRGB             Overvalued  -22.47    3.29
BJRI            Undervalued   30.48    4.26

In [406]:
art_ratios["Rating List"] = art_ratios["Rating List"]*(list_df.loc[code,'Rating']/art_ratios["Rating List"].iloc[-1])

In [402]:
code="BJRI"
list_df.loc[code,'Rating']

4.26

In [431]:
dict_list["BJRI"].max()

date           2018-01-16 00:00:00
Rating List                4.79105
dtype: object

In [433]:
dict_list["CAKE"].max()

date           2018-01-16 00:00:00
Rating List                3.71263
dtype: object

In [450]:
unlist_df

                  Value  Extent  Rating
code_or_ticker
APPB            Neutral    4.68    3.69
CHIL               Over   16.38    3.97
CPKI              Under  -29.01    2.86
TGIF              Under  -16.92    3.16
CAKE               Over   24.82    4.18
RRGB               Over   44.81    4.67
BJRI              Under  -33.92    2.74

In [447]:
scaler = MinMaxScaler(feature_range=(2.7, 4.6))

scaler.fit(unlist_df["Extent"].values.reshape(-1, 1))

unlist_df["Rating"] = scaler.transform(unlist_df["Extent"].values.reshape(-1, 1))

unlist_df["Rating"] = unlist_df["Rating"] * (1 + (unlist_df["Extent"].mean() / 100))
unlist_df["Rating"] = unlist_df["Rating"].round(2)

In [448]:
from sklearn.preprocessing import MinMaxScaler

dict_unlist = {}
for code_start in codes:
    r = r + 1
    my_path = os.path.abspath(os.path.dirname('__file__'))
    path = os.path.join(my_path, "../data/cpickle/")
    part_ratios = pickle.load(open(path + "art_ratios.p", "rb"))
    part_ratios = part_ratios["mv"][code_start]
    part_ratios["close_sim"] = (part_ratios["MV_pred"] / part_ratios["MV_pred"].iloc[0]) * 100
    part_ratios["date"] = pd.to_datetime(part_ratios["date"], format="%Y-%m-%d")
    if code_start in list(listed):
        print("go")
        path = os.path.join(my_path, "../data/stock/")
        part_ratios = pd.read_csv(path + code_start + "_tick_df.csv")
        part_ratios["date"] = pd.to_datetime(part_ratios["date"], format="%Y-%m-%d")
        part_ratios["close_sim"] = part_ratios["close"]
    part_ratios = pd.merge(part_ratios, df2, on="date", how="left")
    part_ratios["Extend"] = (part_ratios["close_sim"] / part_ratios["mean"]) - 1
    part_ratios = part_ratios[part_ratios["date"] > part_ratios["date"].max() - timedelta(365 * 4)]

    scaler = MinMaxScaler(feature_range=(2.5, 3))
    part_ratios = part_ratios.fillna(method="bfill").fillna(method="ffill")
    scaler.fit(part_ratios["Extend"].values.reshape(-1, 1))

    part_ratios["Rating Unlist"] = scaler.transform(part_ratios["Extend"].values.reshape(-1, 1))
    part_ratios["Rating Unlist"] = part_ratios["Rating Unlist"]*(unlist_df.loc[code_start,'Rating']/part_ratios["Rating Unlist"].iloc[-1])
    
    

    new_frame_unlisted = part_ratios[["date", "Rating Unlist"]]
    dict_unlist[code_start] = new_frame_unlisted

go
go
go

In [449]:
dict_unlist["CAKE"].max()

date             2018-01-18 00:00:00
Rating Unlist                4.55247
dtype: object

In [441]:
fa = -1
frame_new = pd.DataFrame()
for code_start in codes:
    fa = fa + 1
    if code_start in list(listed):
        new_frame_unlisted = pd.merge(dict_unlist[code_start], dict_list[code_start], on="date", how="left")
        #### This multiplier should be placed to list_df
        new_frame_unlisted["Rating Unlist"] = new_frame_unlisted["Rating Unlist"] * (
        1 + (unlist_df["Extent"].mean() / 100))
        new_frame_unlisted["Rating List"] = new_frame_unlisted["Rating List"] * (1 + (unlist_df["Extent"].mean() / 100))
        new_frame_unlisted[code_start] = new_frame_unlisted[["Rating Unlist", "Rating List"]].mean(axis=1)

    else:
        new_frame_unlisted[code_start] = dict_unlist[code_start]["Rating Unlist"] * (
        1 + (unlist_df["Extent"].mean() / 100))
    if fa == 0:
        frame_new = new_frame_unlisted[["date", code_start]]
    else:
        frame_new = pd.merge(frame_new, new_frame_unlisted[["date", code_start]], on="date", how="left")

frame_new = frame_new.fillna(method="ffill").fillna(method="bfill")

go
go
go

In [377]:
new_frame_unlisted = pd.merge(dict_unlist[code_start], dict_list[code_start], on="date", how="left")

In [380]:
new_frame_unlisted

,date,Rating Unlist,APPB,CHIL,CPKI,TGIF,Rating List
0,2014-01-21,3.113438,3.651528,3.669427,4.269969,3.729997,3.438538
1,2014-01-22,3.103104,3.587409,3.740589,4.359797,3.601742,3.441535
2,2014-01-23,3.064960,3.705107,3.813913,4.250502,3.520541,3.458607
3,2014-01-24,3.093553,3.633207,3.701587,4.379995,3.609287,3.467216
4,2014-01-27,3.101921,3.707740,3.737475,4.363489,3.550828,3.464587
5,2014-01-28,3.064952,3.820088,3.735194,4.352409,3.444715,3.409513
6,2014-01-29,2.990932,3.938651,3.776603,4.301084,3.614843,3.631153
7,2014-01-30,2.991800,3.877053,3.696678,4.253639,3.608819,3.755641
8,2014-01-31,3.014056,3.849703,3.845146,4.329215,3.530060,3.745742
9,2014-02-03,2.970214,3.922853,3.919410,4.304893,3.557983,3.590056
10,2014-02-04,2.966891,3.762895,3.918665,4.079993,3.523855,3.614327
11,2014-02-05,2.984509,3.750245,3.785443,4.204903,3.584034,3.461434
12,2014-02-06,2.978006,3.734754,3.724999,4.190195,3.576801,3.322158
13,2014-02-07,2.952384,3.705330,3.762403,4.184817,3.561947,3.586988
14,2014-02-10,2.933628,3.557145,3.888834,4.104118,3.256788,3.571882
15,2014-02-11,2.965663,3.547535,3.878179,4.064068,3.479523,3.532399
16,2014-02-12,2.946046,3.619781,3.937578,4.092544,3.430948,3.567117
17,2014-02-13,2.953258,3.556573,3.671816,4.076875,3.348643,3.565190
18,2014-02-14,2.963954,3.532130,3.677888,4.115579,3.161011,3.534872
19,2014-02-18,2.954666,3.539680,3.753421,4.005839,3.358993,3.553030
20,2014-02-19,2.969512,3.491177,3.591272,4.062391,3.406187,3.578498
21,2014-02-20,2.700000,3.648661,3.600052,4.017595,3.404466,3.699059
22,2014-02-21,2.730163,3.808939,3.563148,4.029503,3.243507,3.654587
23,2014-02-24,2.739429,3.764560,3.587376,3.981262,3.351981,3.658117
24,2014-02-25,2.752252,3.763646,3.606735,4.003840,3.219358,3.650832
25,2014-02-26,2.737921,3.612657,3.515591,3.995197,3.235399,3.634572
26,2014-02-27,2.759477,3.471196,3.681847,3.877107,3.291756,3.547375
27,2014-02-28,2.809287,3.509340,3.640904,3.965079,3.077131,3.516586
28,2014-03-03,2.795813,3.319435,3.577270,4.032683,3.266504,3.296216
29,2014-03-04,2.822467,3.182571,3.940238,3.842682,3.224810,3.677257
...,...,...,...,...,...,...,...
977,2017-12-05,3.777864,3.856461,3.357606,3.764188,3.509688,3.020043
978,2017-12-06,3.738502,3.911483,3.293610,3.778522,3.522958,3.296517
979,2017-12-07,3.722223,3.953854,3.263138,3.833842,3.439507,3.114334
980,2017-12-08,3.762498,3.834365,3.301640,3.789900,3.513738,3.072966
981,2017-12-11,3.759383,3.944926,3.212693,3.757003,3.588804,3.062085
982,2017-12-12,3.752253,3.902411,3.331287,3.897035,3.273117,3.423427
983,2017-12-13,3.800054,3.948091,3.324970,3.945693,3.424479,3.453192
984,2017-12-14,3.806335,3.528996,3.362324,3.873405,3.551431,3.437808
985,2017-12-15,3.777794,3.424213,3.308213,3.889656,3.502333,3.322726
986,2017-12-18,3.760273,3.314715,3.250886,3.894641,3.505272,3.527581
987,2017-12-19,3.795349,3.284730,3.183536,3.933331,3.521628,3.413720
988,2017-12-20,3.736978,3.314296,3.383647,4.004058,3.552167,3.432263
989,2017-12-21,3.790678,3.340141,3.252941,4.020355,3.483116,3.518335
990,2017-12-22,3.765178,3.359860,3.182919,3.992098,3.438094,3.407314
991,2017-12-26,3.809017,3.455230,3.341189,4.015043,3.459815,3.531178
992,2017-12-27,3.835607,3.431363,3.259331,4.016157,3.364568,3.512486
993,2017-12-28,3.818077,3.720819,3.129018,3.996663,3.431156,3.422531
994,2017-12-29,3.796335,3.723665,3.109928,4.022828,3.384354,3.402315
995,2018-01-02,3.839285,3.761951,3.127340,4.043583,3.441396,3.299626
996,2018-01-03,3.993927,3.616388,3.247311,4.009164,3.411672,3.352437
997,2018-01-04,4.025909,3.659259,3.254293,4.006018,3.405112,3.437667
998,2018-01-05,4.018535,3.809388,3.539846,4.024059,3.474104,3.349144
999,2018-01-08,3.903505,3.778671,3.429275,4.065208,3.491597,3.105564
1000,2018-01-09,3.902843,4.054765,3.340023,4.040592,3.329985,3.122079
1001,2018-01-10,3.922696,4.121527,3.327265,4.065691,3.492999,3.138267
1002,2018-01-11,3.963392,4.059426,3.264386,4.071839,3.515222,3.131742
1003,2018-01-12,3.956522,4.076886,3.414818,4.056017,3.504751,3.126653
1004,2018-01-16,3.880688,4.151918,3.414818,4.064012,3.580291,3.136403
1005,2018-01-17,3.880688,4.151918,3.414818,4.064012,3.580291,3.136403
1006,2018-01-18,3.880688,4.151918,3.414818,4.064012,3.580291,3.136403

In [379]:
#### This multiplier should be placed to list_df
new_frame_unlisted.fillna(method="ffill",inplace=True)

In [381]:
new_frame_unlisted["Rating Unlist"] = new_frame_unlisted["Rating Unlist"] * (
1 + (unlist_df["Extent"].mean() / 100))
new_frame_unlisted["Rating List"] = new_frame_unlisted["Rating List"] * (1 + (unlist_df["Extent"].mean() / 100))
new_frame_unlisted[code_start] = new_frame_unlisted[["Rating Unlist", "Rating List"]].mean(axis=1)

In [382]:
new_frame_unlisted

,date,Rating Unlist,APPB,CHIL,CPKI,TGIF,Rating List,BJRI
0,2014-01-21,3.161652,3.651528,3.669427,4.269969,3.729997,3.491786,3.326719
1,2014-01-22,3.151158,3.587409,3.740589,4.359797,3.601742,3.494830,3.322994
2,2014-01-23,3.112423,3.705107,3.813913,4.250502,3.520541,3.512166,3.312295
3,2014-01-24,3.141459,3.633207,3.701587,4.379995,3.609287,3.520908,3.331184
4,2014-01-27,3.149957,3.707740,3.737475,4.363489,3.550828,3.518238,3.334097
5,2014-01-28,3.112415,3.820088,3.735194,4.352409,3.444715,3.462311,3.287363
6,2014-01-29,3.037249,3.938651,3.776603,4.301084,3.614843,3.687384,3.362317
7,2014-01-30,3.038130,3.877053,3.696678,4.253639,3.608819,3.813800,3.425965
8,2014-01-31,3.060731,3.849703,3.845146,4.329215,3.530060,3.803748,3.432240
9,2014-02-03,3.016210,3.922853,3.919410,4.304893,3.557983,3.645650,3.330930
10,2014-02-04,3.012836,3.762895,3.918665,4.079993,3.523855,3.670297,3.341567
11,2014-02-05,3.030727,3.750245,3.785443,4.204903,3.584034,3.515037,3.272882
12,2014-02-06,3.024123,3.734754,3.724999,4.190195,3.576801,3.373604,3.198863
13,2014-02-07,2.998104,3.705330,3.762403,4.184817,3.561947,3.642535,3.320319
14,2014-02-10,2.979057,3.557145,3.888834,4.104118,3.256788,3.627195,3.303126
15,2014-02-11,3.011588,3.547535,3.878179,4.064068,3.479523,3.587101,3.299345
16,2014-02-12,2.991668,3.619781,3.937578,4.092544,3.430948,3.622356,3.307012
17,2014-02-13,2.998992,3.556573,3.671816,4.076875,3.348643,3.620399,3.309696
18,2014-02-14,3.009853,3.532130,3.677888,4.115579,3.161011,3.589612,3.299733
19,2014-02-18,3.000421,3.539680,3.753421,4.005839,3.358993,3.608051,3.304236
20,2014-02-19,3.015497,3.491177,3.591272,4.062391,3.406187,3.633914,3.324705
21,2014-02-20,2.741811,3.648661,3.600052,4.017595,3.404466,3.756342,3.249077
22,2014-02-21,2.772442,3.808939,3.563148,4.029503,3.243507,3.711181,3.241811
23,2014-02-24,2.781851,3.764560,3.587376,3.981262,3.351981,3.714766,3.248308
24,2014-02-25,2.794873,3.763646,3.606735,4.003840,3.219358,3.707368,3.251120
25,2014-02-26,2.780320,3.612657,3.515591,3.995197,3.235399,3.690855,3.235588
26,2014-02-27,2.802210,3.471196,3.681847,3.877107,3.291756,3.602309,3.202259
27,2014-02-28,2.852790,3.509340,3.640904,3.965079,3.077131,3.571043,3.211917
28,2014-03-03,2.839109,3.319435,3.577270,4.032683,3.266504,3.347260,3.093184
29,2014-03-04,2.866175,3.182571,3.940238,3.842682,3.224810,3.734202,3.300188
...,...,...,...,...,...,...,...,...
977,2017-12-05,3.836367,3.856461,3.357606,3.764188,3.509688,3.066811,3.451589
978,2017-12-06,3.796395,3.911483,3.293610,3.778522,3.522958,3.347566,3.571981
979,2017-12-07,3.779864,3.953854,3.263138,3.833842,3.439507,3.162561,3.471213
980,2017-12-08,3.820763,3.834365,3.301640,3.789900,3.513738,3.120553,3.470658
981,2017-12-11,3.817599,3.944926,3.212693,3.757003,3.588804,3.109503,3.463551
982,2017-12-12,3.810359,3.902411,3.331287,3.897035,3.273117,3.476441,3.643400
983,2017-12-13,3.858900,3.948091,3.324970,3.945693,3.424479,3.506667,3.682784
984,2017-12-14,3.865279,3.528996,3.362324,3.873405,3.551431,3.491045,3.678162
985,2017-12-15,3.836296,3.424213,3.308213,3.889656,3.502333,3.374181,3.605238
986,2017-12-18,3.818503,3.314715,3.250886,3.894641,3.505272,3.582208,3.700355
987,2017-12-19,3.854123,3.284730,3.183536,3.933331,3.521628,3.466584,3.660353
988,2017-12-20,3.794848,3.314296,3.383647,4.004058,3.552167,3.485414,3.640131
989,2017-12-21,3.849379,3.340141,3.252941,4.020355,3.483116,3.572819,3.711099
990,2017-12-22,3.823485,3.359860,3.182919,3.992098,3.438094,3.460078,3.641782
991,2017-12-26,3.868003,3.455230,3.341189,4.015043,3.459815,3.585861,3.726932
992,2017-12-27,3.895005,3.431363,3.259331,4.016157,3.364568,3.566879,3.730942
993,2017-12-28,3.877202,3.720819,3.129018,3.996663,3.431156,3.475531,3.676367
994,2017-12-29,3.855124,3.723665,3.109928,4.022828,3.384354,3.455002,3.655063
995,2018-01-02,3.898739,3.761951,3.127340,4.043583,3.441396,3.350723,3.624731
996,2018-01-03,4.055775,3.616388,3.247311,4.009164,3.411672,3.404352,3.730064
997,2018-01-04,4.088253,3.659259,3.254293,4.006018,3.405112,3.490902,3.789577
998,2018-01-05,4.080765,3.809388,3.539846,4.024059,3.474104,3.401008,3.740887
999,2018-01-08,3.963954,3.778671,3.429275,4.065208,3.491597,3.153656,3.558805
1000,2018-01-09,3.963282,4.054765,3.340023,4.040592,3.329985,3.170427,3.566854
1001,2018-01-10,3.983442,4.121527,3.327265,4.065691,3.492999,3.186866,3.585154
1002,2018-01-11,4.024768,4.059426,3.264386,4.071839,3.515222,3.180239,3.602504
1003,2018-01-12,4.017792,4.076886,3.414818,4.056017,3.504751,3.175072,3.596432
1004,2018-01-16,3.940784,4.151918,3.414818,4.064012,3.580291,3.184972,3.562878
1005,2018-01-17,3.940784,4.151918,3.414818,4.064012,3.580291,3.184972,3.562878
1006,2018-01-18,3.940784,4.151918,3.414818,4.064012,3.580291,3.184972,3.562878

In [360]:
my_path = os.path.abspath(os.path.dirname('__file__'))
path = os.path.join(my_path, "../data/cpickle/")
art_ratios = pickle.load(open(path + "art_ratios.p", "rb"))
art_ratios = art_ratios["mv"][code]
art_ratios["date"] = pd.to_datetime(art_ratios["date"], infer_datetime_format=True)
art_ratios["close"] = (art_ratios["MV_pred"] / art_ratios["MV_pred"].iloc[0]) * 100
art_ratios["close"] = art_ratios["close"].rolling(60).mean()

my_path = os.path.abspath(os.path.dirname('__file__'))
path = os.path.join(my_path, "../data/stock/")
parent_frame = pd.read_csv(path + code + "_parent_tick_df.csv")
parent_frame["date"] = pd.to_datetime(parent_frame["date"], infer_datetime_format=True)
parent_frame = parent_frame.sort_values("date")
parent_frame["close"] =  (parent_frame["close"] / parent_frame["close"].iloc[0]) * 100
art_ratios = art_ratios.set_index("date")
parent_frame = parent_frame.set_index("date")
rat_par = input_fields[input_fields["code_or_ticker"] == code]["oi_ratio"].reset_index(drop=True).iloc[0]
art_ratios["close"] = art_ratios["close"]*(1-rat_par) + parent_frame["close"]*(rat_par).copy()

art_ratios["close_2"] = parent_frame["close"]
#art_ratios["close_2"] = art_ratios["close_2"]*(100/art_ratios["close_2"].iloc[0])
art_ratios["close"] = art_ratios["close"].fillna(art_ratios["close_2"])

In [363]:
art_ratios

               MV_pred       close     close_2
date
2012-01-03  1532513.28  100.000000  100.000000
2012-01-04  1511653.85   99.089166   99.089166
2012-01-05  1548492.05   98.274209   98.274209
2012-01-06  1525795.88   98.897411   98.897411
2012-01-09  1524264.03   99.352828   99.352828
2012-01-10  1532578.41  104.650048  104.650048
2012-01-11  1560212.03  111.337488  111.337488
2012-01-12  1528565.27  112.080537  112.080537
2012-01-13  1520999.64  110.258869  110.258869
2012-01-17  1554835.93  109.252157  109.252157
2012-01-18  1531219.20  110.522531  110.522531
2012-01-19  1538006.23  110.258869  110.258869
2012-01-20  1525454.75  111.313519  111.313519
2012-01-23  1546313.23  110.738255  110.738255
2012-01-24  1528969.82  111.385427  111.385427
2012-01-25  1524896.69  114.956855  114.956855
2012-01-26  1551630.43  114.333653  114.333653
2012-01-27  1510220.55  115.651965  115.651965
2012-01-30  1509006.77  114.669223  114.669223
2012-01-31  1542035.28  113.902205  113.902205
2012-02-01  1510132.37  115.723873  115.723873
2012-02-02  1521495.44  118.959732  118.959732
2012-02-03  1536340.02  124.017258  124.017258
2012-02-06  1541802.00  121.021093  121.021093
2012-02-07  1500912.01  121.668265  121.668265
2012-02-08  1493277.27  121.572387  121.572387
2012-02-09  1485886.24  120.493768  120.493768
2012-02-10  1508731.48  119.295302  119.295302
2012-02-13  1490986.54  119.606903  119.606903
2012-02-14  1495669.30  117.713327  117.713327
...                ...         ...         ...
2017-12-01  2053527.96  122.661014  110.115053
2017-12-04  1991399.91  128.505983  121.452541
2017-12-05  2069110.93  128.519913  121.596357
2017-12-06  2077286.16  126.954943  118.648130
2017-12-07  2094627.79  127.226348  119.175455
2017-12-08  2043319.07  128.150420  121.021093
2017-12-11  2093904.87  129.270762  123.178332
2017-12-12  2063678.78  128.478281  121.572387
2017-12-13  2091030.93  129.958359  124.161074
2017-12-14  1877531.24  128.683893  121.716203
2017-12-15  1813299.68  126.602602  117.761266
2017-12-18  1758182.08  126.117585  116.898370
2017-12-19  1752986.36  127.218109  119.055609
2017-12-20  1758951.41  127.044018  118.839885
2017-12-21  1770330.94  127.146033  119.127517
2017-12-22  1789448.67  127.430408  119.726750
2017-12-26  1827664.45  128.430034  121.836050
2017-12-27  1813292.10  128.090730  121.284756
2017-12-28  1960827.20  128.383095  122.195590
2017-12-29  1948962.43  127.828459  121.596357
2018-01-02  1959577.16  129.091251  124.496644
2018-01-03  1915525.46  128.847336  124.520614
2018-01-04  1922919.12  128.276870  123.945350
2018-01-05  1981702.62  127.730597  123.346117
2018-01-08  1944564.54  126.431280  121.260786
2018-01-09  2058736.83  124.334915  117.545542
2018-01-10  2094363.24  125.636871  120.302013
2018-01-11  2078394.49  128.517123  126.078619
2018-01-12  2088212.45  129.436624  128.044104
2018-01-16  2089890.07  126.625984  122.938639

[1519 rows x 3 columns]

In [230]:
my_path = os.path.abspath(os.path.dirname('__file__'))
path = os.path.join(my_path, "../input_fields.csv")

input_fields = pd.read_csv(path)

not_listed = input_fields[input_fields["listed"] == "No"].reset_index(drop=True)["code_or_ticker"]
path = os.path.join(my_path, "data/stock/")

parents = input_fields[input_fields["parent"]=="Yes"].reset_index(drop=True)["code_or_ticker"]

In [187]:
code = "APPB"
my_path = os.path.abspath(os.path.dirname('__file__'))
path = os.path.join(my_path, "../data/cpickle/")
art_ratios = pickle.load(open(path + "art_ratios.p", "rb"))
art_ratios = art_ratios["mv"][code]
art_ratios["date"] = pd.to_datetime(art_ratios["date"], infer_datetime_format=True)
art_ratios["close"] = (art_ratios["MV_pred"] / art_ratios["MV_pred"].iloc[0]) * 100
art_ratios["close"] = art_ratios["close"].rolling(60).mean()

if code in list(parents):
    my_path = os.path.abspath(os.path.dirname('__file__'))
    path = os.path.join(my_path, "../data/stock/")
    parent_frame = pd.read_csv(path + code + "_parent_tick_df.csv")
    parent_frame["close"] =  (parent_frame["close"] / parent_frame["close"].iloc[0]) * 100
    parent_frame["date"] = pd.to_datetime(parent_frame["date"], infer_datetime_format=True)
    
    

    art_ratios = art_ratios.set_index("date")
    parent_frame = parent_frame.set_index("date")
    
    

    rat_par = input_fields[input_fields["code_or_ticker"] == code]["oi_ratio"].reset_index(drop=True).iloc[0]
    art_ratios["close"] = art_ratios["close"]*(1-rat_par) + parent_frame["close"]*(rat_par)

In [188]:
art_ratios

               MV_pred       close
date
2012-01-03  1532513.28         NaN
2012-01-04  1511653.85         NaN
2012-01-05  1548492.05         NaN
2012-01-06  1525795.88         NaN
2012-01-09  1524264.03         NaN
2012-01-10  1532578.41         NaN
2012-01-11  1560212.03         NaN
2012-01-12  1528565.27         NaN
2012-01-13  1520999.64         NaN
2012-01-17  1554835.93         NaN
2012-01-18  1531219.20         NaN
2012-01-19  1538006.23         NaN
2012-01-20  1525454.75         NaN
2012-01-23  1546313.23         NaN
2012-01-24  1528969.82         NaN
2012-01-25  1524896.69         NaN
2012-01-26  1551630.43         NaN
2012-01-27  1510220.55         NaN
2012-01-30  1509006.77         NaN
2012-01-31  1542035.28         NaN
2012-02-01  1510132.37         NaN
2012-02-02  1521495.44         NaN
2012-02-03  1536340.02         NaN
2012-02-06  1541802.00         NaN
2012-02-07  1500912.01         NaN
2012-02-08  1493277.27         NaN
2012-02-09  1485886.24         NaN
2012-02-10  1508731.48         NaN
2012-02-13  1490986.54         NaN
2012-02-14  1495669.30         NaN
...                ...         ...
2017-12-01  2053527.96   97.400039
2017-12-04  1991399.91  100.644129
2017-12-05  2069110.93  100.625067
2017-12-06  2077286.16   99.736435
2017-12-07  2094627.79   99.886869
2017-12-08  2043319.07  100.387543
2017-12-11  2093904.87  101.013002
2017-12-12  2063678.78  100.588933
2017-12-13  2091030.93  101.475153
2017-12-14  1877531.24  100.761553
2017-12-15  1813299.68   99.587546
2017-12-18  1758182.08   99.300482
2017-12-19  1752986.36   99.906123
2017-12-20  1758951.41   99.781521
2017-12-21  1770330.94   99.817552
2017-12-22  1789448.67   99.964459
2017-12-26  1827664.45  100.480201
2017-12-27  1813292.10  100.267367
2017-12-28  1960827.20  100.350781
2017-12-29  1948962.43   99.933612
2018-01-02  1959577.16  100.531064
2018-01-03  1915525.46  100.281650
2018-01-04  1922919.12   99.843153
2018-01-05  1981702.62   99.434346
2018-01-08  1944564.54   98.613415
2018-01-09  2058736.83   97.369347
2018-01-10  2094363.24   98.038953
2018-01-11  2078394.49   99.594022
2018-01-12  2088212.45  100.062630
2018-01-16  2089890.07   98.423211

[1519 rows x 2 columns]

In [190]:
my_path = os.path.abspath(os.path.dirname('__file__'))
path = os.path.join(my_path, "../data/financial/")

In [191]:

def load_dict(filename_):
    with open(filename_, 'rb') as f:
        ret_di = pickle.load(f)
    return ret_di

dict_frames = load_dict(path+'data.pkl')


coy = "APPB"

df_input = dict_frames[coy, "calculations", "Original"].round(2)
df_input = df_input.fillna(df_input.mean()).round(2)
df_input = df_input.iloc[:-1, :]

vatios_df = pd.DataFrame([["", 'Yr 1', 'Yr 2', 'Yr 3', 'Yr5'],
                          ['Revenue growth', df_input["Year over Year"].iloc[-1],
                           df_input["Year over Year"].iloc[-2:].mean(),
                           df_input["Year over Year"].iloc[-3:].mean(),
                           df_input["Year over Year"].iloc[-5:].mean()],
                          ['EPS growth', df_input["Year over Year.3"].iloc[-1],
                           df_input["Year over Year.3"].iloc[-2:].mean(),
                           df_input["Year over Year.3"].iloc[-3:].mean(),
                           df_input["Year over Year.3"].iloc[-5:].mean()],
                          ['ROA', df_input["Return on Assets %"].iloc[-1],
                           df_input["Return on Assets %"].iloc[-2:].mean(),
                           df_input["Return on Assets %"].iloc[-3:].mean(),
                           df_input["Return on Assets %"].iloc[-5:].mean()],
                          ['Net Margin', df_input["Net Margin %"].iloc[-1],
                           df_input["Net Margin %"].iloc[-2:].mean(), df_input["Net Margin %"].iloc[-3:].mean(),
                           df_input["Net Margin %"].iloc[-5:].mean()],
                          ['FCF/Sales', df_input["Free Cash Flow/Sales %"].iloc[-1],
                           df_input["Free Cash Flow/Sales %"].iloc[-2:].mean(),
                           df_input["Free Cash Flow/Sales %"].iloc[-3:].mean(),
                           df_input["Free Cash Flow/Sales %"].iloc[-5:].mean()]])

                0      1      2        3       4
0                   Yr 1   Yr 2     Yr 3     Yr5
1  Revenue growth  -4.53 -5.655 -2.27667  -5.896
2      EPS growth   0.01 -1.715  62.3667  18.852
3             ROA -16.09  -5.95 -2.52333   -0.63
4      Net Margin -54.32 -19.43 -7.80333  -1.304
5       FCF/Sales   8.78  13.39  15.3367  16.562

In [198]:
dict_frames[coy, "calculations", "Original"].round(2)

,year,Revenue USD Mil,Gross Margin %,Operating Income USD Mil,Operating Margin %,Net Income USD Mil,Earnings Per Share USD,Dividends USD,Payout Ratio % *,Shares Mil,...,Debt/Equity,Days Sales Outstanding,Days Inventory,Payables Period,Cash Conversion Cycle,Receivables Turnover,Inventory Turnover,Fixed Assets Turnover,Asset Turnover,adj_close
0,2009,1414.0,31.7,277.0,19.6,31.0,0.55,0.01,0.01,17.0,...,59.11,28.73,4.38,15.24,17.87,12.70,83.33,1.77,0.44,19.06
1,2010,1317.0,31.4,241.0,18.3,-3.0,-1.74,0.01,0.01,17.0,...,48.49,27.85,4.66,13.05,19.46,13.10,78.39,1.93,0.45,38.74
2,2011,1055.0,36.8,220.0,20.8,75.0,3.89,0.01,0.01,18.0,...,13.96,36.40,6.23,16.88,25.75,10.03,58.59,1.98,0.39,33.12
3,2012,835.0,45.2,202.0,24.2,128.0,6.63,0.01,0.01,19.0,...,4.46,53.36,0.01,23.82,0.01,6.84,0.01,2.17,0.33,52.57
4,2013,627.0,56.8,201.0,32.0,72.0,3.70,3.00,60.30,19.0,...,4.33,79.34,0.01,47.72,0.01,4.60,0.01,2.21,0.26,68.32
5,2014,642.0,56.4,204.0,31.7,36.0,1.90,3.13,75.00,19.0,...,5.16,84.67,0.01,53.35,0.01,4.31,0.01,2.49,0.26,87.88
6,2015,670.0,57.9,223.0,33.2,105.0,5.52,3.54,116.70,19.0,...,5.26,79.70,0.01,62.62,0.01,4.58,0.01,2.90,0.28,74.53
7,2016,625.0,59.3,211.0,33.8,98.0,5.33,3.73,66.80,18.0,...,5.53,81.96,0.01,75.65,0.01,4.45,0.01,2.94,0.27,70.85
8,2017,596.0,55.9,158.0,26.4,-331.0,-18.28,3.88,0.01,18.0,...,0.01,89.21,0.01,73.18,0.01,4.09,0.01,2.95,0.30,50.73
9,2018,596.0,55.9,158.0,26.4,-331.0,-18.28,3.88,0.01,18.0,...,0.01,89.21,0.01,73.18,0.01,4.09,0.01,2.95,0.30,74.09

In [337]:
coy ="APPB"
my_path = os.path.abspath(os.path.dirname('__file__'))

path = os.path.join(my_path, "../data/cpickle/")

art_ratios = pickle.load(open(path + "art_ratios.p", "rb"))
art_ratios = art_ratios["ratios"][coy]

df_input = art_ratios.round(2)

df_input["EPS growth_pred"].iloc[:-2].mean()/df_input["Revenue growth_pred"].iloc[:-2].mean()

df_input["EPS growth_pred"].iloc[:-2].mean()/df_input["ROA_pred"].iloc[:-2].mean()

rev_rat = df_input["EPS growth_pred"].iloc[:-2].mean()/df_input["Revenue growth_pred"].iloc[:-2].mean()
roa_rat = df_input["EPS growth_pred"].iloc[:-2].mean()/df_input["ROA_pred"].iloc[:-2].mean()

df_input.loc[2017:2018,"EPS growth_pred"] = df_input.loc[2017:2018,"Revenue growth_pred"]*rev_rat*(1/2) + df_input.loc[2017:2018,"ROA_pred"]*roa_rat*(1/2)

df_input.loc[2017:2018,"EPS growth_pred"] = df_input.loc[2017:2018,"EPS growth_pred"].round(2)

ratios_df = pd.DataFrame([["", 'Yr 1', 'Yr 2', 'Yr 3', 'Yr5'],
                          ['Revenue growth', df_input["Revenue growth_pred"].iloc[-1],
                           df_input["Revenue growth_pred"].iloc[-2:].mean(),
                           df_input["Revenue growth_pred"].iloc[-3:].mean(),
                           df_input["Revenue growth_pred"].iloc[-5]],
                          ['EPS growth', df_input["EPS growth_pred"].iloc[-1],
                           df_input["EPS growth_pred"].iloc[-2:].mean(),
                           df_input["EPS growth_pred"].iloc[-3:].mean(),
                           df_input["EPS growth_pred"].iloc[-5:].mean()],
                          ['ROA', df_input["ROA_pred"].iloc[-1], df_input["ROA_pred"].iloc[-2:].mean(),
                           df_input["ROA_pred"].iloc[-3:].mean(), df_input["ROA_pred"].iloc[-5:].mean()],
                          ['Net Margin', df_input["Net Margin_pred"].iloc[-1],
                           df_input["Net Margin_pred"].iloc[-2:].mean(),
                           df_input["Net Margin_pred"].iloc[-3:].mean(),
                           df_input["Net Margin_pred"].iloc[-5:].mean()],
                          ['FCF/Sales', df_input["FCF/Sales_pred"].iloc[-1],
                           df_input["FCF/Sales_pred"].iloc[-2:].mean(),
                           df_input["FCF/Sales_pred"].iloc[-3:].mean(),
                           df_input["FCF/Sales_pred"].iloc[-5:].mean()]])

if coy in list(parents):
    
    def load_dict(filename_):
        with open(filename_, 'rb') as f:
            ret_di = pickle.load(f)
        return ret_di
    
    path = os.path.join(my_path, "../data/financial/")

    dict_frames = load_dict(path+'data.pkl')

    coy = "APPB"

    df_input = dict_frames[coy, "calculations", "Original"].round(2)
    df_input = df_input.fillna(df_input.mean()).round(2)
    df_input = df_input.iloc[:-1, :]

    vatios_df = pd.DataFrame([["", 'Yr 1', 'Yr 2', 'Yr 3', 'Yr5'],
                              ['Revenue growth', df_input["Year over Year"].iloc[-1],
                               df_input["Year over Year"].iloc[-2:].mean(),
                               df_input["Year over Year"].iloc[-3:].mean(),
                               df_input["Year over Year"].iloc[-5:].mean()],
                              ['EPS growth', df_input["Year over Year.3"].iloc[-1],
                               df_input["Year over Year.3"].iloc[-2:].mean(),
                               df_input["Year over Year.3"].iloc[-3:].mean(),
                               df_input["Year over Year.3"].iloc[-5:].mean()],
                              ['ROA', df_input["Return on Assets %"].iloc[-1],
                               df_input["Return on Assets %"].iloc[-2:].mean(),
                               df_input["Return on Assets %"].iloc[-3:].mean(),
                               df_input["Return on Assets %"].iloc[-5:].mean()],
                              ['Net Margin', df_input["Net Margin %"].iloc[-1],
                               df_input["Net Margin %"].iloc[-2:].mean(), df_input["Net Margin %"].iloc[-3:].mean(),
                               df_input["Net Margin %"].iloc[-5:].mean()],
                              ['FCF/Sales', df_input["Free Cash Flow/Sales %"].iloc[-1],
                               df_input["Free Cash Flow/Sales %"].iloc[-2:].mean(),
                               df_input["Free Cash Flow/Sales %"].iloc[-3:].mean(),
                               df_input["Free Cash Flow/Sales %"].iloc[-5:].mean()]])
    

    new = (vatios_df.iloc[1:,1:]*.80).round(2) + (ratios_df.iloc[1:,1:]*.20).round(2)
    ratios_df.iloc[1:,1:] = new
    ratios_df.iloc[1:,1:] = ratios_df.iloc[1:,1:].applymap(lambda x : round(x,2))

In [343]:
ratios_df

                0      1      2      3      4
0                   Yr 1   Yr 2   Yr 3    Yr5
1  Revenue growth  -5.99  -6.47  -3.11  -3.71
2      EPS growth   -1.9  -2.66  49.48  15.66
3             ROA -10.54  -2.44   0.03   1.48
4      Net Margin -43.22 -15.38  -6.07  -0.77
5       FCF/Sales   8.36  12.03  13.65  14.56

In [342]:
(vatios_df.iloc[1:,1:]*.80).round(2)

        1       2        3        4
1  -3.624  -4.524 -1.82133  -4.7168
2   0.008  -1.372  49.8933  15.0816
3 -12.872   -4.76 -2.01867   -0.504
4 -43.456 -15.544 -6.24267  -1.0432
5   7.024  10.712  12.2693  13.2496

In [333]:
if coy in parents:
    print("ff")

In [329]:
parents

0    APPB
1    CHIL
Name: code_or_ticker, dtype: object

In [328]:
new

NameError: name 'new' is not defined

In [324]:
ratios_df

                0      1      2         3      4
0                   Yr 1   Yr 2      Yr 3    Yr5
1  Revenue growth -11.84 -9.745  -6.46333   5.04
2      EPS growth  -9.54  -6.43  -2.08333   2.88
3             ROA  11.65  11.62     10.23  9.914
4      Net Margin    1.2  0.835  0.873333  1.354
5       FCF/Sales   6.68   6.61   6.88667  6.546

In [311]:
dram = dram.reset_index()

                    0           1       2           3          4
0
index  Revenue growth  EPS growth     ROA  Net Margin  FCF/Sales
Yr 1            0.752       5.748   7.474       3.712      4.152
Yr 2            2.807        6.01   7.516       3.739      3.898
Yr 3          4.21133     25.3407   7.326     3.87067    4.28933
Yr5            7.2736     16.0064  6.4196      3.4404     2.8372

In [294]:
ratios_df

                0      1      2         3      4
0                   Yr 1   Yr 2      Yr 3    Yr5
1  Revenue growth -11.84 -9.745  -6.46333   5.04
2      EPS growth  -9.54  -6.43  -2.08333   2.88
3             ROA  11.65  11.62     10.23  9.914
4      Net Margin    1.2  0.835  0.873333  1.354
5       FCF/Sales   6.68   6.61   6.88667  6.546

In [292]:
b

       1      2         3       4
0 -2.368 -1.949  -1.29267   1.008
1 -1.908 -1.286 -0.416667   0.576
2   2.33  2.324     2.046  1.9828
3   0.24  0.167  0.174667  0.2708
4  1.336  1.322   1.37733  1.3092

In [290]:
ratios_df

                0     1     2      3      4
0                  Yr 1  Yr 2   Yr 3    Yr5
1  Revenue growth  5.75  6.01  25.34  16.01
2      EPS growth  7.47  7.52   7.33   6.42
3             ROA  3.71  3.74   3.87   3.44
4      Net Margin  4.15   3.9   4.29   2.84
5       FCF/Sales   NaN   NaN    NaN    NaN

In [240]:
ratios_df

                0      1      2         3      4
0                   Yr 1   Yr 2      Yr 3    Yr5
1  Revenue growth -11.84 -9.745  -6.46333   5.04
2      EPS growth  -9.54  -6.43  -2.08333   2.88
3             ROA  11.65  11.62     10.23  9.914
4      Net Margin    1.2  0.835  0.873333  1.354
5       FCF/Sales   6.68   6.61   6.88667  6.546

In [237]:
ratios_df

                0      1      2         3      4
0                   Yr 1   Yr 2      Yr 3    Yr5
1  Revenue growth -11.84 -9.745  -6.46333   5.04
2      EPS growth  -9.54  -6.43  -2.08333   2.88
3             ROA  11.65  11.62     10.23  9.914
4      Net Margin    1.2  0.835  0.873333  1.354
5       FCF/Sales   6.68   6.61   6.88667  6.546

In [234]:
ratios_df

                0      1      2         3      4
0                   Yr 1   Yr 2      Yr 3    Yr5
1  Revenue growth -11.84 -9.745  -6.46333   5.04
2      EPS growth  -9.54  -6.43  -2.08333   2.88
3             ROA  11.65  11.62     10.23  9.914
4      Net Margin    1.2  0.835  0.873333  1.354
5       FCF/Sales   6.68   6.61   6.88667  6.546

In [232]:
vatios_df

                0     1      2        3       4
0                  Yr 1   Yr 2     Yr 3     Yr5
1  Revenue growth   3.9  5.945     6.88   7.832
2      EPS growth  9.57   9.12  32.1967  19.288
3             ROA  6.43   6.49      6.6   5.546
4      Net Margin  4.34  4.465     4.62   3.962
5       FCF/Sales  3.52   3.22     3.64    1.91

In [174]:
df_input

,MV_pred,Revenue growth_pred,EPS growth_pred,ROA_pred,Interest Coverage_pred,Net Margin_pred,FCF/Sales_pred
year,,,,,,,
2012,3557206.46,12.83,24.120000,3.84,24.11,2.38,5.60
2013,4050925.22,12.66,-0.110000,2.41,37.79,1.71,5.66
2014,4439511.04,15.44,4.480000,3.07,13.42,3.30,4.92
2015,4176489.85,19.46,9.710000,2.16,20.73,2.98,7.11
2016,4100362.50,13.98,7.710000,-1.17,20.79,2.83,6.63
2017,3616875.88,8.42,-0.963454,-1.60,22.30,6.11,-0.19
2018,3679231.18,5.62,3.426790,0.76,23.46,7.53,-0.57

In [149]:
df_input["EPS growth_pred"].iloc[:-2].mean()/df_input["Revenue growth_pred"].iloc[:-2].mean()

df_input["EPS growth_pred"].iloc[:-2].mean()/df_input["ROA_pred"].iloc[:-2].mean()

rev_rat = df_input["EPS growth_pred"].iloc[:-2].mean()/df_input["Revenue growth_pred"].iloc[:-2].mean()
roa_rat = df_input["EPS growth_pred"].iloc[:-2].mean()/df_input["ROA_pred"].iloc[:-2].mean()

df_input.loc[2017:2018,"EPS growth_pred"] = df_input.loc[2017:2018,"Revenue growth_pred"]*rev_rat*(1/2) + df_input.loc[2017:2018,"ROA_pred"]*roa_rat*(1/2)

df_input

0.5215018193847172

In [229]:
ratios_df

                0      1      2         3      4
0                   Yr 1   Yr 2      Yr 3    Yr5
1  Revenue growth -11.84 -9.745  -6.46333   5.04
2      EPS growth  -9.54  -6.43  -2.08333   2.88
3             ROA  11.65  11.62     10.23  9.914
4      Net Margin    1.2  0.835  0.873333  1.354
5       FCF/Sales   6.68   6.61   6.88667  6.546

In [228]:
vatios_df

                0     1      2        3       4
0                  Yr 1   Yr 2     Yr 3     Yr5
1  Revenue growth   3.9  5.945     6.88   7.832
2      EPS growth  9.57   9.12  32.1967  19.288
3             ROA  6.43   6.49      6.6   5.546
4      Net Margin  4.34  4.465     4.62   3.962
5       FCF/Sales  3.52   3.22     3.64    1.91

In [121]:
c = "BJRI"

yelp= pd.read_csv(path_in + "all_yelps_rates_" + c +".csv")

yelp["all"].iloc[-1]

yelp["all"].iloc[1]

import numpy as np

In [122]:
np.sqrt(np.abs(np.log(np.abs(yelp["all"].iloc[-1] - yelp["all"].iloc[1]))))**3.5

9.536522207273176

In [123]:
9/(np.sqrt(np.abs(np.log(np.abs(yelp["all"].iloc[-1] - yelp["all"].iloc[1]))))**3.5)

0.9437402655169209

In [112]:
c = "TGIF"

yelp= pd.read_csv(path_in + "all_yelps_rates_" + c +".csv")

yelp["all"].iloc[-1]

yelp["all"].iloc[1]

import numpy as np
np.sqrt(np.sqrt(np.abs(np.log(np.abs(yelp["all"].iloc[-1] - yelp["all"].iloc[1])))))**3

1.117695013871377

In [113]:
yelp["all"].iloc[-1]

2.136423412127169

In [114]:
yelp["all"].iloc[1]

2.3894520166626805

In [111]:
9/np.sqrt(np.sqrt(np.abs(np.log(np.abs(yelp["all"].iloc[-1] - yelp["all"].iloc[1])))))**1.4

8.05228607831627

In [ ]:
    yelp["new"] = np.sqrt(np.abs(np.log(np.abs(yelp["all"].iloc[-1] - yelp["all"].iloc[1]))))*4.7/10000

    yelp["new"] = (yelp["all"].iloc[-1]/yelp["new"].iloc[-1])*yelp["new"]

In [ ]:
yelp["new"] = yelp["all"]**9/10000

yelp["new"] = (yelp["all"].iloc[-1]/yelp["new"].iloc[-1])*yelp["new"]

In [10]:
import os
import _pickle as pickle
import pandas as pd

In [11]:
c = "APPB"

In [23]:
my_path = os.path.abspath(os.path.dirname('__file__'))
path = os.path.join(my_path, "../input_fields.csv")
path_in = os.path.join(my_path, "../data/ratings/")

input_fields = pd.read_csv(path)

code = input_fields["code_or_ticker"]

#df_tick_1= pd.read_csv(path_in +c + "_stock_rate.csv")

path_sto = os.path.join(my_path, "../data/stock/")
path_out = os.path.join(my_path, "../data/ratings/")
for c in code:
    df_tick = pd.read_csv(path_sto + c + "_tick_df.csv")

    ## This is normalised, but I don't see why I shouldn't
    df_tick = df_tick.fillna(method="bfill").fillna(method="ffill")

    df_tick["date"] = pd.to_datetime(df_tick["date"], infer_datetime_format=True)

    df_tick = df_tick[["close", "date"]]

    df_tick = df_tick[df_tick["date"]>"2012-01-01"]

    glassdoor_m= pd.read_csv(path_in +c + "_gdoor_mgmt_rate.csv")

    multiplier = (glassdoor_m["trace_mse"].tail(1)).values[0]/df_tick["close"].tail(1).values[0]

    df_tick["close"] = df_tick["close"] * multiplier

    df_tick.to_csv(path_out + c +"_stock_rate.csv")

In [29]:
c = "APPB"
df_tick = pd.read_csv(path_out + c +"_stock_rate.csv")

In [ ]:
    yelp["new"] = yelp["all"]**9/10000

    yelp["new"] = (yelp["all"].iloc[-1]/yelp["new"].iloc[-1])*yelp["new"]

In [30]:
df_tick.head()

   Unnamed: 0     close        date
0           0  2.272411  2012-01-03
1           1  2.272411  2012-01-04
2           2  2.272411  2012-01-05
3           3  2.272411  2012-01-06
4           4  2.272411  2012-01-09

In [ ]:
glassdoor = glassdoor[glassdoor["Review Date"]<=df_tick["date"].max()]

glassdoor.to_csv(path_out + cod +"_gdoor_employee_rate.csv")
glassdoor_m.to_csv(path_out + cod +"_gdoor_mgmt_rate.csv")

multiplier = (glassdoor_m["trace_mse"].tail(1)).values[0]/df_tick["close"].tail(1).values[0]

df_tick["close"] = df_tick["close"] * multiplier


df_tick.to_csv(path_out + cod +"_stock_rate.csv")

In [15]:
df_tick_1.head()

   Unnamed: 0        date   open   high    low     close  volume
0        1009  2012-01-03  43.03  43.60  41.65  2.449618  188757
1        1010  2012-01-04  41.57  41.67  41.05  2.427306  144290
2        1011  2012-01-05  41.00  41.39  40.28  2.407342  184592
3        1012  2012-01-06  41.09  41.95  40.37  2.422608  182481
4        1013  2012-01-09  41.49  41.96  41.02  2.433764  131480

In [16]:
df_tick.head()

       close        date
0  98.624485  2012-01-03
1  98.624485  2012-01-04
2  98.624485  2012-01-05
3  98.624485  2012-01-06
4  98.624485  2012-01-09

In [2]:
my_path = os.path.abspath(os.path.dirname('__file__'))

path = os.path.join(my_path, "../data/cpickle/")
first_dict = pickle.load(open(path + "first_page.p", "rb"))

In [3]:
first_dict

{'bench_code_drop_down_options': [{'label': "Applebee's ", 'value': 'APPB'},
  {'label': "Chili's", 'value': 'CHIL'},
  {'label': 'CPK', 'value': 'CPKI'},
  {'label': 'TGIF', 'value': 'TGIF'},
  {'label': 'TCF', 'value': 'CAKE'},
  {'label': 'Red Robin', 'value': 'RRGB'}],
 'c_metrics_df_output':                0    1    2    3    4    5
 0           Year  '13  '14  '15  '16  '17
 1       Solvency    ↓    ↑    ↑    ↑    ↑
 2     Efficiency    ↑    ↑    ↑    ↓    ↓
 3  Profitability    ↓    ↑    ↑    ↓    ↓
 4      Liquidity    ↑    ↑    ↑    ↓    ↑,
 'df_perf_summary_output':               one    two  three   four  five  seven  eight  nine   ten
 0                   Yr 1   Yr 2   Yr 3   Yr5   Yr 1   Yr 2  Yr 3   Yr5
 1  Revenue growth  -0.83   3.76   4.59  4.57   5.69   6.84  7.48  8.19
 2      EPS growth    -20   1.52    6.8  6.34 -63.33 -27.33   7.9  4.71
 3             ROA  10.65  10.84  10.45  10.1   4.93   5.74   6.1  5.25
 4      Net Margin   5.76   5.94   5.81  5.73    3.3   3.94  4.27  3.75
 5       FCF/Sales   4.88   6.51    5.6  5.65   1.23   2.08  2.88  1.45,
 'dict_info_output': {'customers': 'Customers Sentiment is higher than the industry benchmark.',
  'customers_r': 'Customers are generally very happy. The Visit Frequency Rating is low, while the Late Sentiment Rating is high.',
  'employees': 'Employees Sentiment is similar to the industry benchmark.',
  'employees_r': 'Employees are generally happy. The Employee Opportunities Rating is low, while the Offers Accepted Rating is high.',
  'location': 'Jacksonville',
  'management': 'Management Sentiment is higher than the industry benchmark.',
  'management_r': 'Management are mostly happy. The Management Proficiency Rating is low, while the Management Culture Rating is high.',
  'shareholders': 'Shareholder Sentiment is similar to the industry benchmark.',
  'shareholders_r': 'Shareholder are mostly happy.',
  'title': 'BJ’s Restaurant & Brewhouse'},
 'first_option_bench_code': 'CAKE',
 'first_option_target_code': 'BJRI',
 'first_option_target_location_small_name': 'Sugar-Land',
 'location_output': '2231 State Hwy 6, Sugar Land, TX 77478 Location',
 'profile_output': 'Sugar-Land Profile',
 's_metrics_df_output':            0    1  2    3    4    5    6
 0       Type    E  C    S    M    A   BA
 1  Sentiment  3.5  4  3.6  3.3  3.6  3.5,
 'stock_plot_desc_output': "In the last six years the compounded annual return for BJ's (BJRI)  is negative 2.36%, compared to the 8.05% positive return of the benchmark (CAKE). BJ's year on year return is negative 8.12% against the benchmark's negative return of 22.59%. BJ's year on year benchmark adjusted performance has improved as measured against the last six year's adjusted return. In more recent times BJ's has outperformed the benchmark on a quarter to quarter basis with a quarterly return of 0.53% against the -0.91% of the benchmark.  with a monthly return of 0.0% against the 0.0% of the benchmark.",
 'target_location_small_drop_down_options': [{'label': '2231 State Hwy 6, Sugar Land, TX 77478',
   'value': 'Sugar-Land'},
  {'label': '10000 Coors Blvd, Albuquerque, NM 87114',
   'value': 'Albuquerque-3'},
  {'label': '952 North East Loop 820, Hurst, TX 76053', 'value': 'Hurst'},
  {'label': '101 N. Brand Blvd., Glendale, CA 91203', 'value': 'Glendale'},
  {'label': '2365 Sand Creek Rd, Brentwood, CA 94513', 'value': 'Brentwood'},
  {'label': '140 Town Center Pkwy, Slidell, LA 70458', 'value': 'Slidell'},
  {'label': '7390 NE Cornell Rd, Hillsboro, OR 97124', 'value': 'Hillsboro'},
  {'label': '715 E. Shaw, Fresno, CA 93710', 'value': 'Fresno'},
  {'label': '425 Sparks Blvd., Sparks, NV 89434', 'value': 'Sparks'},
  {'label': '4585 Chino Hills Pkwy, Chino Hills, CA 91709',
   'value': 'Chino-Hills'},
  {'label': '101 E Joppa Rd, Towson, MD 21286', 'value': 'Towson'},
  {'label': '25628 Florida 56, Lutz, FL 33559', 'value': 'Lutz'},
  {'label': '1001 E. Whitestone Blvd., Cedar Park, TX 78613',
   'value': 'Cedar-Park'},
  {'label': '8027 Leesburg Pike, Vienna, VA 22182', 'value': 'Vienna-2'},
  {'label': '6622 E Superstition Spgs Blvd, Mesa, AZ 85206', 'value': 'Mesa'},
  {'label': '2425 W. Memorial Rd, Oklahoma City, OK 73134',
   'value': 'Oklahoma-City'},
  {'label': '2100 Louisiana Blvd NE, Bldg 213, Albuquerque, NM 87110',
   'value': 'Albuquerque-2'},
  {'label': '7960 E Kellogg Ave, Wichita, KS 67207', 'value': 'Wichita'},
  {'label': '12100 Pines Blvd, Pembroke Pines, FL 33026',
   'value': 'Pembroke-Pines'},
  {'label': '21001 North Tatum Blvd., Phoenix, AZ 85050', 'value': 'Phoenix'},
  {'label': '1325 Rancho Vista Blvd., Palmdale, CA 93551',
   'value': 'Palmdale-2'},
  {'label': '7211 166th Ave NE, Redmond, WA 98052', 'value': 'Redmond'},
  {'label': '1716 Montebello Town Center, Montebello, CA 90640',
   'value': 'Montebello'},
  {'label': '3550 S. General Bruce Dr, Building G, Temple, TX 76504',
   'value': 'Temple'},
  {'label': '4805 South Loop 289, Lubbock, TX 79424', 'value': 'Lubbock'},
  {'label': '1045 E. Harriman Place, San Bernardino, CA 92408',
   'value': 'San-Bernardino'},
  {'label': '314 W Loop 281, Longview, TX 75605', 'value': 'Longview'},
  {'label': '2206 Bridgepointe Pkwy, San Mateo, CA 94404',
   'value': 'San-Mateo'},
  {'label': '1106 Town East Mall, Mesquite, TX 75150', 'value': 'Mesquite'},
  {'label': '3924 Lenox Ave, Charlottesville, VA 22901',
   'value': 'Charlottesville'},
  {'label': '13003 Campus Pkwy, Noblesville, IN 46060',
   'value': 'Noblesville-2'},
  {'label': '5613 Paseo Del Norte, Carlsbad, CA 92008', 'value': 'Carlsbad-2'},
  {'label': '10563 Innovation Dr, Miamisburg, OH 45342',
   'value': 'Miamisburg-2'},
  {'label': '10840 West Charleston, Las Vegas, NV 89135',
   'value': 'Las-Vegas-2'},
  {'label': '3703 9th St SW, Puyallup, WA 98373', 'value': 'Puyallup'},
  {'label': '2514 W Intl Speedway Blvd, Daytona Beach, FL 32114',
   'value': 'Daytona-Beach-2'},
  {'label': '7880 Mentor Ave, Mentor, OH 44060', 'value': 'Mentor'},
  {'label': '13930 Promenade Commons St, Gainesville, VA 20155',
   'value': 'Gainesville-4'},
  {'label': '10367 US-36, Avon, IN 46123', 'value': 'Avon-2'},
  {'label': '1690 28th St, Boulder, CO 80301', 'value': 'Boulder-2'},
  {'label': '2421 W. Osceola Pkwy, Kissimmee, FL 34741', 'value': 'Kissimmee'},
  {'label': '22022 El Paseo, Rancho Santa Margarita, CA 92688',
   'value': 'Rancho-Santa-Margarita-2'},
  {'label': '2455 Medical Center Pkwy, Murfreesboro, TN 37129',
   'value': 'Murfreesboro'},
  {'label': '11200 Broadway St, Suite 1700, Pearland, TX 77584',
   'value': 'Pearl3'},
  {'label': '26500 Ynez Rd, Temecula, CA 92591', 'value': 'Temecula'},
  {'label': '22410 US Hwy 281 N, San Antonio, TX 78259',
   'value': 'San-Antonio'},
  {'label': '7327 Market St, Boardman, OH 44512', 'value': 'Boardman'},
  {'label': '10446 Town Center Dr, Westminster, CO 80021',
   'value': 'Westminster'},
  {'label': '11520 4th St, Rancho Cucamonga, CA 91730',
   'value': 'Rancho-Cucamonga'},
  {'label': '2624 S. Shackleford Rd, Little Rock, AR 72205',
   'value': 'Little-Rock'},
  {'label': '5929 West Waco Dr, Waco, TX 76710', 'value': 'Waco'},
  {'label': '16060 Beach Blvd., Huntington Beach, CA 92647',
   'value': 'Huntington-Beach'},
  {'label': '24320 Town Center Dr., Valencia, CA 91355', 'value': 'Valencia'},
  {'label': '5800 Northgate Mall, Suite 159, San Rafael, CA 94903',
   'value': 'San-Rafael'},
  {'label': '1807 Palm Beach Lakes Blvd, West Palm Beach, FL 33401',
   'value': 'West-Palm-Beach'},
  {'label': '1140 El Camino Real, Ste 271, San Bruno, CA 94066',
   'value': 'San-Bruno'},
  {'label': '3250 South I-35E, Denton, TX 76210', 'value': 'Denton'},
  {'label': '9520 S. Eastern Ave., Henderson, NV 89123', 'value': 'Henderson'},
  {'label': '6181 Columbia Crossing Cir, Columbia, MD 21045',
   'value': 'Columbia'},
  {'label': '1080 Valley River Way, Eugene, OR 97401', 'value': 'Eugene-2'},
  {'label': '1401 NW 107th Ave, Doral, FL 33172', 'value': 'Doral'},
  {'label': '27001 US Hwy 19 N, Ste 1160, Clearwater, FL 33761',
   'value': 'Clearwater-2'},
  {'label': '925 Blossom Hill Rd, San Jose, CA 95123', 'value': 'San-Jose'},
  {'label': '3401 Dale Rd, Ste 840, Modesto, CA 95356', 'value': 'Modesto'},
  {'label': '9960 University Plaza Dr, Fort Myers, FL 33913',
   'value': 'Fort-Myers'},
  {'label': '515 W. Bay Area Blvd., Webster, TX 77598', 'value': 'Webster-2'},
  {'label': '4020 Steltzer Rd, Columbus, OH 43219', 'value': 'Columbus-2'},
  {'label': '5108 N 9th Ave, Pensacola, FL 32504', 'value': 'Pensacola'},
  {'label': '385 Sun Valley Mall, Concord, CA 94520', 'value': 'Concord'},
  {'label': '1119 Fashion Dr, Nanuet, NY 10954', 'value': 'Nanuet'},
  {'label': '2670 E Harmony Rd, Fort Collins, CO 80525',
   'value': 'Fort-Collins-2'},
  {'label': '1580 N University Dr, Coral Springs, FL 33071',
   'value': 'Coral-Springs-2'},
  {'label': '19075 IH-45 S, Ste 600, Shenandoah, TX 77385',
   'value': 'Shenandoah'},
  {'label': '10515 Mopac Expy, Austin, TX 78759', 'value': 'Austin-2'},
  {'label': '9748 W. Northern Ave., Peoria, AZ 85345', 'value': 'Peoria'},
  {'label': '24032 El Toro Rd, Laguna Hills, CA 92653',
   'value': 'Laguna-Hills'},
  {'label': '234 E Colorado Blvd, Pasadena, CA 91101', 'value': 'Pasadena'},
  {'label': '15022 Max Leggett Pkwy, Jacksonville, FL 32218',
   'value': 'Jacksonville-2'},
  {'label': '5616 Spectrum Dr, Frederick, MD 21703', 'value': 'Frederick'},
  {'label': '411 S College Mall Rd, Bloomington, IN 47401',
   'value': 'Bloomington-2'},
  {'label': '3265 W Market St, Ste 85, Fairlawn, OH 44333',
   'value': 'Fairlawn-2'},
  {'label': '1730 North Main St, Salinas, CA 93906', 'value': 'Salinas'},
  {'label': '14442 East Cedar Ave, Aurora, CO 80012', 'value': 'Aurora'},
  {'label': '5500 Grossmont Center Dr, La Mesa, CA 91942', 'value': 'La-Mesa'},
  {'label': '8002 Citrus Park Town Ctr, Citrus Park, FL 33625',
   'value': 'Citrus-Park'},
  {'label': '5699 Mowry Ave., Newark, CA 94560', 'value': 'Newark'},
  {'label': '4720 South Hulen St, Fort Worth, TX 76132',
   'value': 'Fort-Worth-3'},
  {'label': '3200 Expy 83, McAllen, TX 78501', 'value': 'Mcallen'},
  {'label': '8761 Vineland Ave, Orlando, FL 32821', 'value': 'Orlando-2'},
  {'label': '7900 Shelbyville Rd, Louisville, KY 40222',
   'value': 'Louisville'},
  {'label': '1749 Apalachee Pkwy, Tallahassee, FL 32301',
   'value': 'Tallahassee'},
  {'label': '5881 Centennial Center Blvd, Las Vegas, NV 89149',
   'value': 'Las-Vegas'},
  {'label': '334A Coddingtown Ctr, Santa Rosa, CA 95401',
   'value': 'Santa-Rosa-3'},
  {'label': '280 S Coast Hwy, Laguna Beach, CA 92651',
   'value': 'Laguna-Beach'},
  {'label': '13130 Jamboree Rd, Irvine, CA 92602', 'value': 'Irvine'},
  {'label': '204 E Via Rancho Pkwy, Escondido, CA 92025',
   'value': 'Escondido'},
  {'label': '1689 Arden Way, #1058, Sacramento, CA 95815',
   'value': 'Sacramento-3'},
  {'label': '121 Stonewood St, Downey, CA 90241', 'value': 'Downey'},
  {'label': '148 Harbison Blvd, Columbia, SC 29212', 'value': 'Columbia-2'},
  {'label': '2715 Fairfield Commons Drive, Beavercreek, OH 45431',
   'value': 'Beavercreek'},
  {'label': '325 Outlet Shoppes Dr, Oklahoma City, OK 73128',
   'value': 'Oklahoma-City-2'},
  {'label': '11905 Gateway Blvd., El Paso, TX 79936', 'value': 'El-Paso'},
  {'label': '5510 E Broadway Blvd, Tucson, AZ 85711', 'value': 'Tucson-2'},
  {'label': '25779 Brookpark Rd, North Olmsted, OH 44070',
   'value': 'North-Olmsted'},
  {'label': '11700 Princeton Pike, Unit J1A, Cincinnati, OH 45246',
   'value': 'Cincinnati'},
  {'label': '4151 Conroy Rd, Orlando, FL 32839', 'value': 'Orlando'},
  {'label': '665 N Krocks Rd, Allentown, PA 18106',
   'value': 'Restauarantallentown'},
  {'label': '1251 US Hwy 31 N, Greenwood, IN 46142', 'value': 'Greenwood'},
  {'label': '1159 Southcenter Mall, Tukwila, WA 98188', 'value': 'Tukwila'},
  {'label': '3800 Park Blvd., Pinellas Park, FL 33781',
   'value': 'Pinellas-Park'},
  {'label': '511 Coleman Ave, San Jose, CA 95110', 'value': 'San-Jose-2'},
  {'label': '192 Hanes Mall Cir, Winston-Salem, NC 27103',
   'value': 'Winston-Salem'},
  {'label': '201 East Interstate 20, Arlington, TX 76018',
   'value': 'Arlington-2'},
  {'label': '10750 Stockdale Hwy, Bakersfield, CA 93311',
   'value': 'Bakersfield'},
  {'label': '8103 International Dr, Orlando, FL 32819', 'value': 'Orlando-4'},
  {'label': '7852 Mall Rd, Florence, KY 41042', 'value': 'Florence-2'},
  {'label': '330 Ed Noble Pkwy, Norman, OK 73072', 'value': 'Norman'},
  {'label': '2951 Cold Springs Dr, New Braunfels, TX 78130',
   'value': 'New-Braunfels-2'},
  {'label': '17503 IH-10 W, San Antonio, TX 78257', 'value': 'San-Antonio-3'},
  {'label': '2609 S Stemmons Fwy, Lewisville, TX 75067',
   'value': 'Lewisville'},
  {'label': '30208 Haun Rd, Menifee, CA 92584', 'value': 'Menifee'},
  {'label': '245 W Coliseum Blvd, Fort Wayne, IN 46825',
   'value': 'Fort-Wayne-2'},
  {'label': '5447 W Loop 1604 North, San Antonio, TX 78253',
   'value': 'San-Antonio-2'},
  {'label': '13999 South Virginia, Reno, NV 89511', 'value': 'Reno'},
  {'label': '5141 Tuttle Crossing, Dublin, OH 43016', 'value': 'Dublin-8'},
  {'label': '190 Nut Tree Pkwy, Vacaville, CA 95687', 'value': 'Vacaville'},
  {'label': '11600 Amargosa Rd, Victorville, CA 92392',
   'value': 'Victorville'},
  {'label': '6611 W. Newberry Rd, Gainesville, FL 32605',
   'value': 'Gainesville'},
  {'label': '106 Main St, Newport Beach, CA 92661', 'value': 'Newport-Beach'},
  {'label': '939 Broxton Ave, Westwood, CA 90024', 'value': 'Westwood'},
  {'label': '17615 Castleton St, City of Industry, CA 91748',
   'value': 'City-Of-Industry'},
  {'label': '1819 Washington Rd, Upper Saint Clair, PA 15241',
   'value': 'Upper-Saint-Clair'},
  {'label': '1861 Carl D Silver Pkwy, Fredericksburg, VA 22401',
   'value': 'Fredericksburg'},
  {'label': '460 The City Dr S, Orange, CA 92868', 'value': 'Orange-2'},
  {'label': '8285 Red Bug Lake Rd, Oviedo, FL 32765', 'value': 'Oviedo-2'},
  {'label': '401 The Bridge St, Ste 120, Huntsville, AL 35086',
   'value': 'Huntsville'},
  {'label': '555 Broadway, Suite 110, Chula Vista, CA 91910',
   'value': 'Chula-Vista'},
  {'label': '3297 Nicholasville Rd, Lexington, KY 40503',
   'value': 'Lexington-2'},
  {'label': '1700 W New Haven Ave, Melbourne, FL 32904', 'value': 'Melbourne'},
  {'label': '600 Brea Mall Dr, Brea, CA 92821', 'value': 'Brea-2'},
  {'label': '4270 N. Oracle Rd, Tucson, AZ 85705', 'value': 'Tucson'},
  {'label': '9401 Sage Meadow Trl, Fort Worth, TX 76177',
   'value': 'Fort-Worth'},
  {'label': '5207 Brodie Lane, Sunset Valley, TX 78745',
   'value': 'Sunset-Valley'},
  {'label': '3531 N. Freeway Blvd., Sacramento, CA 95834',
   'value': 'Sacramento-6'},
  {'label': '6476 Strip Ave NW, North Canton, OH 44720',
   'value': 'North-Canton'},
  {'label': '12090 Jefferson Ave, Newport News, VA 23606',
   'value': 'Newport-News'},
  {'label': '12105 N Center Ave, Portland, OR 97217', 'value': 'Portland'},
  {'label': '2520 Tuscany St, Corona, CA 92881', 'value': 'Corona'},
  {'label': '6000 Sepulveda Blvd., Suite 1111, Culver City, CA 90230',
   'value': 'Culver-City-2'},
  {'label': '2201 E Southlake Blvd, Southlake, TX 76092',
   'value': 'Southlake'},
  {'label': '3955 E. Thousand Oaks Blvd., Westlake Village, CA 91362',
   'value': 'Westlake-Village'},
  {'label': '1370 Frazee Rd, San Diego, CA 92108', 'value': 'San-Diego-2'},
  {'label': '5733 Pacific Ave., Stockton, CA 95207', 'value': 'Stockton'},
  {'label': '461 W Esplanade Dr, Oxnard, CA 93036', 'value': 'Oxnard'},
  {'label': '4201 North IH-35, Round Rock, TX 78664', 'value': 'Round-Rock'},
  {'label': '5037 South Padre Island Dr, Corpus Christi, TX 78411',
   'value': 'Corpus-Christi'},
  {'label': '4502 S. Steele St., Suite 1500, Tacoma, WA 98409',
   'value': 'Tacoma'},
  {'label': '15701 Emerald Way, Bowie, MD 20716', 'value': 'Bowie'},
  {'label': '12010 W Broad St, Henrico, VA 23233', 'value': 'Henrico'},
  {'label': '5707 Dillard Dr, Cary, NC 27518', 'value': 'Cary'},
  {'label': '1414 Polaris Pkwy, Columbus, OH 43240', 'value': 'Columbus'},
  {'label': '8785 Villa La Jolla Dr, San Diego, CA 92037',
   'value': 'San-Diego-3'},
  {'label': '7637 FM 1960 West, Houston, TX 77070', 'value': 'Houston'},
  {'label': '400 E. Huntington Ave., Arcadia, CA 91006', 'value': 'Arcadia'},
  {'label': '20536 Katy Freeway, Katy, TX 77449', 'value': 'Katy'},
  {'label': '21 Teterboro Landing Dr, Teterboro, NJ 07608',
   'value': 'Restauarantteterboro'},
  {'label': '1200 Roseville Pkwy, Roseville, CA 95678', 'value': 'Roseville'},
  {'label': '14714 Baltimore Ave., Laurel, MD 20707', 'value': 'Laurel'},
  {'label': '5150 North Nevada Ave, Colorado Springs, CO 80918',
   'value': 'Colorado-Springs'},
  {'label': '2917 Eastland Center Dr, West Covina, CA 91791',
   'value': 'West-Covina-2'},
  {'label': '200 Main St, Huntington Beach, CA 92648',
   'value': 'Huntington-Beach-2'},
  {'label': '3748 Airport Blvd, Mobile, AL 36608', 'value': 'Mobile-2'},
  {'label': '4901 Belt Line Rd., Dallas, TX 75254', 'value': 'Dallas'},
  {'label': '190 E Stacy Rd, Bldg 3300, Allen, TX 75002', 'value': 'Allen'},
  {'label': '8888 SW 136th St, Miami, FL 33176', 'value': 'Miami-2'},
  {'label': '22920 Centerpoint Dr, Moreno Valley, CA 92553',
   'value': 'Moreno-Valley'},
  {'label': '4907 Gate Pkwy, Jacksonville, FL 32246', 'value': 'Jacksonville'},
  {'label': '8970 Covenant Ave, Pittsburgh, PA 15237', 'value': 'Pittsburgh'},
  {'label': '2730 E. Bidwell St, Folsom, CA 95630', 'value': 'Folsom'},
  {'label': '6401 BlueBonnet Rd, Baton Rouge, LA 70836',
   'value': 'Baton-Rouge'},
  {'label': '10250 Santa Monica Blvd., Los Angeles, CA 90067',
   'value': 'Los-Angeles-2'},
  {'label': '1520 Harvey Rd, College Station, TX 77598',
   'value': 'College-Station-2'},
  {'label': '3525 W. Carson St, Suite 168, Torrance, CA 90503',
   'value': 'Torrance'},
  {'label': '750 Sunrise Hwy 5, Valley Stream, NY 11581',
   'value': 'Valley-Stream'},
  {'label': '107 South 1st St, Burbank, CA 91502', 'value': 'Burbank'},
  {'label': '3155 W Chandler Blvd, Chandler, AZ 85226', 'value': 'Chandler'},
  {'label': '1101 N. Central Expy, Plano, TX 75075', 'value': 'Plano'},
  {'label': '210 W Southwest Loop 323, Tyler, TX 75703', 'value': 'Tyler-2'},
  {'label': '9237 Laguna Springs Dr, Elk Grove, CA 95758',
   'value': 'Elk-Grove'},
  {'label': '5258 E. Second Street, Long Beach, CA 90803',
   'value': 'Long-Beach'},
  {'label': '3941 McCain Blvd, North Little Rock, AR 72116',
   'value': 'North-Little-Rock-2'}],
 'title_output': "BJ's Restaurants, Inc. 4-D Report"}

In [5]:
my_path = os.path.abspath(os.path.dirname('__file__'))

path = os.path.join(my_path, "../data/cpickle/")
first_dict_1 = pickle.load(open(path + "first_page_1.p", "rb"))

In [6]:
first_dict_1

{'bench_code_drop_down_options': [{'label': "Applebee's ", 'value': 'APPB'},
  {'label': "Chili's", 'value': 'CHIL'},
  {'label': 'CPK', 'value': 'CPKI'},
  {'label': 'TGIF', 'value': 'TGIF'},
  {'label': 'TCF', 'value': 'CAKE'},
  {'label': 'Red Robin', 'value': 'RRGB'}],
 'c_metrics_df_output':                0    1    2    3    4    5
 0           Year  '13  '14  '15  '16  '17
 1       Solvency    ↓    ↑    ↑    ↑    ↑
 2     Efficiency    ↑    ↓    ↓    ↓    ↓
 3  Profitability    ↓    ↑    ↑    ↓    ↓
 4      Liquidity    ↑    ↑    ↑    ↑    ↑,
 'df_perf_summary_output':               one    two  three   four   five  seven  eight   nine    ten
 0                   Yr 1   Yr 2   Yr 3    Yr5   Yr 1   Yr 2   Yr 3    Yr5
 1  Revenue growth  -5.19  -2.93   0.83    2.8  -1.69    1.1    3.4   5.61
 2      EPS growth  82.09  48.82  40.23  26.27  98.18  53.88  38.81  45.53
 3             ROA  11.99  11.99  11.67   10.7   6.43   6.43   6.47   6.12
 4      Net Margin   6.96   6.96   6.68   6.14   4.34   4.34   4.42   4.29
 5       FCF/Sales   5.15   5.15   6.14    5.7   3.52   3.52   3.32   3.17,
 'dict_info_output': {'customers': 'Customers Sentiment is higher than the industry benchmark',
  'customers_r': 'Customers are mostly happy. The Visit Frequency Rating is low, while the Late Sentiment Rating is high.',
  'employees': 'Employees Sentiment is similar to the industry benchmark',
  'employees_r': 'Employees are mostly happy. The Employee Opportunities Rating is low, while the Offers Accepted Rating is high.',
  'location': 'Jacksonville',
  'management': 'Management Sentiment is higher than the industry benchmark',
  'management_r': 'Management are mostly happy. The Management Proficiency Rating is low, while the Management Culture Rating is high.',
  'shareholders': 'Shareholder Sentiment is similar to the industry benchmark',
  'shareholders_r': 'Shareholder are mostly happy.',
  'title': 'BJ’s Restaurant & Brewhouse'},
 'first_option_bench_code': 'CAKE',
 'first_option_target_code': 'BJRI',
 'first_option_target_location_small_name': 'Sugar-Land',
 'location_output': '2231 State Hwy 6, Sugar Land, TX 77478 Location',
 'profile_output': 'Sugar-Land Profile',
 's_metrics_df_output':            0    1    2    3    4    5    6
 0  Sentiment    E    C    S    M    A   BA
 1       BJRI  3.5    4  3.6  3.3  3.6  3.5
 2       Mean  3.4  3.6  3.7  3.2  3.5  3.5,
 'stock_plot_desc_output': ("In the last six years the compounded annual return for BJ's (BJRI)  is negative 2.35%, compared to the 8.02% positive return of the benchmark (CAKE). BJ's year on year return is positive 6.61% against the benchmark's negative return of 19.89%. BJ's year on year benchmark adjusted performance has improved as measured against the last six year's adjusted return. In more recent times BJ's has outperformed the benchmark on a quarter to quarter basis with a quarterly return of 18.62% against the 9.19% of the benchmark. BJ's has also outperformed the benchmark in the last month. with a monthly return of 4.99% against the 0.25% of the benchmark.",
        Unnamed: 0       date   open   high    low       close   volume
  0              0 2012-01-03  45.67  46.13  43.94  100.000000   402336
  1              1 2012-01-04  43.99  44.68  43.23  101.067454   455202
  2              2 2012-01-05  44.14  45.52  43.48  103.066091   271429
  3              3 2012-01-06  45.42  46.18  44.98  104.247104   199144
  4              4 2012-01-09  46.31  46.32  45.25  103.951851   292980
  5              5 2012-01-10  46.93  47.05  46.06  106.041335   248533
  6              6 2012-01-11  46.22  46.61  45.54  103.997275   191448
  7              7 2012-01-12  45.88  46.23  44.80  103.247786   452467
  8              8 2012-01-13  44.97  45.78  44.93  103.043380   275169
  9              9 2012-01-17  45.54  45.54  44.18  100.931183   371735
  10            10 2012-01-18  44.52  45.62  44.23  103.338633   175228
  11            11 2012-01-19  45.45  45.50  44.70  101.680672   322935
  12            12 2012-01-20  44.77  45.74  44.69  103.543039   206657
  13            13 2012-01-23  45.48  45.92  45.40  103.792868   395277
  14            14 2012-01-24  45.45  46.04  44.85  103.770157   312922
  15            15 2012-01-25  45.48  47.80  45.28  107.903702   555351
  16            16 2012-01-26  47.75  48.13  47.58  108.857597   303662
  17            17 2012-01-27  47.55  49.00  47.55  111.083352   274017
  18            18 2012-01-30  48.45  49.13  47.96  111.287758   392938
  19            19 2012-01-31  49.34  50.10  48.71  113.627072   506046
  20            20 2012-02-01  50.09  51.00  49.85  115.602998   360953
  21            21 2012-02-02  50.83  51.85  50.82  117.692482   381161
  22            22 2012-02-03  52.46  54.46  51.92  123.256870   528014
  23            23 2012-02-06  53.82  54.11  52.68  120.099932   692873
  24            24 2012-02-07  53.02  53.51  52.23  120.258914   275950
  25            25 2012-02-08  52.95  53.42  52.93  121.235521   410798
  26            26 2012-02-09  53.34  53.94  53.03  121.258233   182069
  27            27 2012-02-10  53.00  53.16  52.64  120.168067   471640
  28            28 2012-02-13  53.32  53.50  52.84  120.781285   270843
  29            29 2012-02-14  53.11  53.67  52.76  121.576198   280707
  ...          ...        ...    ...    ...    ...         ...      ...
  1491        1491 2017-12-05  37.40  37.65  36.80   84.487849   290604
  1492        1492 2017-12-06  37.20  37.60  36.20   82.670906   219109
  1493        1493 2017-12-07  36.25  36.85  35.41   82.103112   300440
  1494        1494 2017-12-08  36.25  36.90  35.85   83.465819   293337
  1495        1495 2017-12-11  36.70  36.80  36.30   83.238701   379291
  1496        1496 2017-12-12  36.65  37.02  36.40   82.670906   315472
  1497        1497 2017-12-13  36.65  37.45  36.60   84.147172   311409
  1498        1498 2017-12-14  37.25  37.65  36.90   83.920055   323869
  1499        1499 2017-12-15  37.00  37.15  36.25   82.557347   914704
  1500        1500 2017-12-18  36.65  37.15  36.05   81.989553   339316
  1501        1501 2017-12-19  36.30  36.95  36.20   83.352260   279755
  1502        1502 2017-12-20  36.90  37.20  35.75   81.421758   287095
  1503        1503 2017-12-21  35.85  36.70  35.85   82.784465   366631
  1504        1504 2017-12-22  36.50  36.75  36.25   82.557347   252997
  1505        1505 2017-12-26  36.45  37.45  36.32   83.352260   208360
  1506        1506 2017-12-27  36.65  37.35  36.65   83.920055   182624
  1507        1507 2017-12-28  36.90  37.15  36.75   83.806496   141850
  1508        1508 2017-12-29  36.85  37.15  36.40   82.670906   279741
  1509        1509 2018-01-02  36.85  37.28  36.55   83.465819   373868
  1510        1510 2018-01-03  38.85  40.35  38.50   88.689530  1055816
  1511        1511 2018-01-04  39.10  39.65  38.15   88.916648   356615
  1512        1512 2018-01-05  39.30  39.40  38.15   88.121735   346605
  1513        1513 2018-01-08  38.60  38.75  36.50   84.147172   474930
  1514        1514 2018-01-09  37.05  37.30  36.60   83.465819   309160
  1515        1515 2018-01-10  36.75  37.45  36.16   84.147172   385200
  1516        1516 2018-01-11  37.10  37.75  36.95   85.736998   269316
  1517        1517 2018-01-12  37.75  38.00  37.15   85.623439   308533
  1518        1518 2018-01-16  37.85  38.00  36.20   82.330229   413268
  1519        1519 2018-01-17  36.45  38.40  36.38   86.304792   515822
  1520        1520 2018-01-18  37.95  38.20  37.45   86.077674   223087

  [1521 rows x 7 columns]),
 'target_location_small_drop_down_options': [{'label': '2231 State Hwy 6, Sugar Land, TX 77478',
   'value': 'Sugar-Land'},
  {'label': '10000 Coors Blvd, Albuquerque, NM 87114',
   'value': 'Albuquerque-3'},
  {'label': '952 North East Loop 820, Hurst, TX 76053', 'value': 'Hurst'},
  {'label': '101 N. Brand Blvd., Glendale, CA 91203', 'value': 'Glendale'},
  {'label': '2365 Sand Creek Rd, Brentwood, CA 94513', 'value': 'Brentwood'},
  {'label': '140 Town Center Pkwy, Slidell, LA 70458', 'value': 'Slidell'},
  {'label': '7390 NE Cornell Rd, Hillsboro, OR 97124', 'value': 'Hillsboro'},
  {'label': '715 E. Shaw, Fresno, CA 93710', 'value': 'Fresno'},
  {'label': '425 Sparks Blvd., Sparks, NV 89434', 'value': 'Sparks'},
  {'label': '4585 Chino Hills Pkwy, Chino Hills, CA 91709',
   'value': 'Chino-Hills'},
  {'label': '101 E Joppa Rd, Towson, MD 21286', 'value': 'Towson'},
  {'label': '25628 Florida 56, Lutz, FL 33559', 'value': 'Lutz'},
  {'label': '1001 E. Whitestone Blvd., Cedar Park, TX 78613',
   'value': 'Cedar-Park'},
  {'label': '8027 Leesburg Pike, Vienna, VA 22182', 'value': 'Vienna-2'},
  {'label': '6622 E Superstition Spgs Blvd, Mesa, AZ 85206', 'value': 'Mesa'},
  {'label': '2425 W. Memorial Rd, Oklahoma City, OK 73134',
   'value': 'Oklahoma-City'},
  {'label': '2100 Louisiana Blvd NE, Bldg 213, Albuquerque, NM 87110',
   'value': 'Albuquerque-2'},
  {'label': '7960 E Kellogg Ave, Wichita, KS 67207', 'value': 'Wichita'},
  {'label': '12100 Pines Blvd, Pembroke Pines, FL 33026',
   'value': 'Pembroke-Pines'},
  {'label': '21001 North Tatum Blvd., Phoenix, AZ 85050', 'value': 'Phoenix'},
  {'label': '1325 Rancho Vista Blvd., Palmdale, CA 93551',
   'value': 'Palmdale-2'},
  {'label': '7211 166th Ave NE, Redmond, WA 98052', 'value': 'Redmond'},
  {'label': '1716 Montebello Town Center, Montebello, CA 90640',
   'value': 'Montebello'},
  {'label': '3550 S. General Bruce Dr, Building G, Temple, TX 76504',
   'value': 'Temple'},
  {'label': '4805 South Loop 289, Lubbock, TX 79424', 'value': 'Lubbock'},
  {'label': '1045 E. Harriman Place, San Bernardino, CA 92408',
   'value': 'San-Bernardino'},
  {'label': '314 W Loop 281, Longview, TX 75605', 'value': 'Longview'},
  {'label': '2206 Bridgepointe Pkwy, San Mateo, CA 94404',
   'value': 'San-Mateo'},
  {'label': '1106 Town East Mall, Mesquite, TX 75150', 'value': 'Mesquite'},
  {'label': '3924 Lenox Ave, Charlottesville, VA 22901',
   'value': 'Charlottesville'},
  {'label': '13003 Campus Pkwy, Noblesville, IN 46060',
   'value': 'Noblesville-2'},
  {'label': '5613 Paseo Del Norte, Carlsbad, CA 92008', 'value': 'Carlsbad-2'},
  {'label': '10563 Innovation Dr, Miamisburg, OH 45342',
   'value': 'Miamisburg-2'},
  {'label': '10840 West Charleston, Las Vegas, NV 89135',
   'value': 'Las-Vegas-2'},
  {'label': '3703 9th St SW, Puyallup, WA 98373', 'value': 'Puyallup'},
  {'label': '2514 W Intl Speedway Blvd, Daytona Beach, FL 32114',
   'value': 'Daytona-Beach-2'},
  {'label': '7880 Mentor Ave, Mentor, OH 44060', 'value': 'Mentor'},
  {'label': '13930 Promenade Commons St, Gainesville, VA 20155',
   'value': 'Gainesville-4'},
  {'label': '10367 US-36, Avon, IN 46123', 'value': 'Avon-2'},
  {'label': '1690 28th St, Boulder, CO 80301', 'value': 'Boulder-2'},
  {'label': '2421 W. Osceola Pkwy, Kissimmee, FL 34741', 'value': 'Kissimmee'},
  {'label': '22022 El Paseo, Rancho Santa Margarita, CA 92688',
   'value': 'Rancho-Santa-Margarita-2'},
  {'label': '2455 Medical Center Pkwy, Murfreesboro, TN 37129',
   'value': 'Murfreesboro'},
  {'label': '11200 Broadway St, Suite 1700, Pearland, TX 77584',
   'value': 'Pearl3'},
  {'label': '26500 Ynez Rd, Temecula, CA 92591', 'value': 'Temecula'},
  {'label': '22410 US Hwy 281 N, San Antonio, TX 78259',
   'value': 'San-Antonio'},
  {'label': '7327 Market St, Boardman, OH 44512', 'value': 'Boardman'},
  {'label': '10446 Town Center Dr, Westminster, CO 80021',
   'value': 'Westminster'},
  {'label': '11520 4th St, Rancho Cucamonga, CA 91730',
   'value': 'Rancho-Cucamonga'},
  {'label': '2624 S. Shackleford Rd, Little Rock, AR 72205',
   'value': 'Little-Rock'},
  {'label': '5929 West Waco Dr, Waco, TX 76710', 'value': 'Waco'},
  {'label': '16060 Beach Blvd., Huntington Beach, CA 92647',
   'value': 'Huntington-Beach'},
  {'label': '24320 Town Center Dr., Valencia, CA 91355', 'value': 'Valencia'},
  {'label': '5800 Northgate Mall, Suite 159, San Rafael, CA 94903',
   'value': 'San-Rafael'},
  {'label': '1807 Palm Beach Lakes Blvd, West Palm Beach, FL 33401',
   'value': 'West-Palm-Beach'},
  {'label': '1140 El Camino Real, Ste 271, San Bruno, CA 94066',
   'value': 'San-Bruno'},
  {'label': '3250 South I-35E, Denton, TX 76210', 'value': 'Denton'},
  {'label': '9520 S. Eastern Ave., Henderson, NV 89123', 'value': 'Henderson'},
  {'label': '6181 Columbia Crossing Cir, Columbia, MD 21045',
   'value': 'Columbia'},
  {'label': '1080 Valley River Way, Eugene, OR 97401', 'value': 'Eugene-2'},
  {'label': '1401 NW 107th Ave, Doral, FL 33172', 'value': 'Doral'},
  {'label': '27001 US Hwy 19 N, Ste 1160, Clearwater, FL 33761',
   'value': 'Clearwater-2'},
  {'label': '925 Blossom Hill Rd, San Jose, CA 95123', 'value': 'San-Jose'},
  {'label': '3401 Dale Rd, Ste 840, Modesto, CA 95356', 'value': 'Modesto'},
  {'label': '9960 University Plaza Dr, Fort Myers, FL 33913',
   'value': 'Fort-Myers'},
  {'label': '515 W. Bay Area Blvd., Webster, TX 77598', 'value': 'Webster-2'},
  {'label': '4020 Steltzer Rd, Columbus, OH 43219', 'value': 'Columbus-2'},
  {'label': '5108 N 9th Ave, Pensacola, FL 32504', 'value': 'Pensacola'},
  {'label': '385 Sun Valley Mall, Concord, CA 94520', 'value': 'Concord'},
  {'label': '1119 Fashion Dr, Nanuet, NY 10954', 'value': 'Nanuet'},
  {'label': '2670 E Harmony Rd, Fort Collins, CO 80525',
   'value': 'Fort-Collins-2'},
  {'label': '1580 N University Dr, Coral Springs, FL 33071',
   'value': 'Coral-Springs-2'},
  {'label': '19075 IH-45 S, Ste 600, Shenandoah, TX 77385',
   'value': 'Shenandoah'},
  {'label': '10515 Mopac Expy, Austin, TX 78759', 'value': 'Austin-2'},
  {'label': '9748 W. Northern Ave., Peoria, AZ 85345', 'value': 'Peoria'},
  {'label': '24032 El Toro Rd, Laguna Hills, CA 92653',
   'value': 'Laguna-Hills'},
  {'label': '234 E Colorado Blvd, Pasadena, CA 91101', 'value': 'Pasadena'},
  {'label': '15022 Max Leggett Pkwy, Jacksonville, FL 32218',
   'value': 'Jacksonville-2'},
  {'label': '5616 Spectrum Dr, Frederick, MD 21703', 'value': 'Frederick'},
  {'label': '411 S College Mall Rd, Bloomington, IN 47401',
   'value': 'Bloomington-2'},
  {'label': '3265 W Market St, Ste 85, Fairlawn, OH 44333',
   'value': 'Fairlawn-2'},
  {'label': '1730 North Main St, Salinas, CA 93906', 'value': 'Salinas'},
  {'label': '14442 East Cedar Ave, Aurora, CO 80012', 'value': 'Aurora'},
  {'label': '5500 Grossmont Center Dr, La Mesa, CA 91942', 'value': 'La-Mesa'},
  {'label': '8002 Citrus Park Town Ctr, Citrus Park, FL 33625',
   'value': 'Citrus-Park'},
  {'label': '5699 Mowry Ave., Newark, CA 94560', 'value': 'Newark'},
  {'label': '4720 South Hulen St, Fort Worth, TX 76132',
   'value': 'Fort-Worth-3'},
  {'label': '3200 Expy 83, McAllen, TX 78501', 'value': 'Mcallen'},
  {'label': '8761 Vineland Ave, Orlando, FL 32821', 'value': 'Orlando-2'},
  {'label': '7900 Shelbyville Rd, Louisville, KY 40222',
   'value': 'Louisville'},
  {'label': '1749 Apalachee Pkwy, Tallahassee, FL 32301',
   'value': 'Tallahassee'},
  {'label': '5881 Centennial Center Blvd, Las Vegas, NV 89149',
   'value': 'Las-Vegas'},
  {'label': '334A Coddingtown Ctr, Santa Rosa, CA 95401',
   'value': 'Santa-Rosa-3'},
  {'label': '280 S Coast Hwy, Laguna Beach, CA 92651',
   'value': 'Laguna-Beach'},
  {'label': '13130 Jamboree Rd, Irvine, CA 92602', 'value': 'Irvine'},
  {'label': '204 E Via Rancho Pkwy, Escondido, CA 92025',
   'value': 'Escondido'},
  {'label': '1689 Arden Way, #1058, Sacramento, CA 95815',
   'value': 'Sacramento-3'},
  {'label': '121 Stonewood St, Downey, CA 90241', 'value': 'Downey'},
  {'label': '148 Harbison Blvd, Columbia, SC 29212', 'value': 'Columbia-2'},
  {'label': '2715 Fairfield Commons Drive, Beavercreek, OH 45431',
   'value': 'Beavercreek'},
  {'label': '325 Outlet Shoppes Dr, Oklahoma City, OK 73128',
   'value': 'Oklahoma-City-2'},
  {'label': '11905 Gateway Blvd., El Paso, TX 79936', 'value': 'El-Paso'},
  {'label': '5510 E Broadway Blvd, Tucson, AZ 85711', 'value': 'Tucson-2'},
  {'label': '25779 Brookpark Rd, North Olmsted, OH 44070',
   'value': 'North-Olmsted'},
  {'label': '11700 Princeton Pike, Unit J1A, Cincinnati, OH 45246',
   'value': 'Cincinnati'},
  {'label': '4151 Conroy Rd, Orlando, FL 32839', 'value': 'Orlando'},
  {'label': '665 N Krocks Rd, Allentown, PA 18106',
   'value': 'Restauarantallentown'},
  {'label': '1251 US Hwy 31 N, Greenwood, IN 46142', 'value': 'Greenwood'},
  {'label': '1159 Southcenter Mall, Tukwila, WA 98188', 'value': 'Tukwila'},
  {'label': '3800 Park Blvd., Pinellas Park, FL 33781',
   'value': 'Pinellas-Park'},
  {'label': '511 Coleman Ave, San Jose, CA 95110', 'value': 'San-Jose-2'},
  {'label': '192 Hanes Mall Cir, Winston-Salem, NC 27103',
   'value': 'Winston-Salem'},
  {'label': '201 East Interstate 20, Arlington, TX 76018',
   'value': 'Arlington-2'},
  {'label': '10750 Stockdale Hwy, Bakersfield, CA 93311',
   'value': 'Bakersfield'},
  {'label': '8103 International Dr, Orlando, FL 32819', 'value': 'Orlando-4'},
  {'label': '7852 Mall Rd, Florence, KY 41042', 'value': 'Florence-2'},
  {'label': '330 Ed Noble Pkwy, Norman, OK 73072', 'value': 'Norman'},
  {'label': '2951 Cold Springs Dr, New Braunfels, TX 78130',
   'value': 'New-Braunfels-2'},
  {'label': '17503 IH-10 W, San Antonio, TX 78257', 'value': 'San-Antonio-3'},
  {'label': '2609 S Stemmons Fwy, Lewisville, TX 75067',
   'value': 'Lewisville'},
  {'label': '30208 Haun Rd, Menifee, CA 92584', 'value': 'Menifee'},
  {'label': '245 W Coliseum Blvd, Fort Wayne, IN 46825',
   'value': 'Fort-Wayne-2'},
  {'label': '5447 W Loop 1604 North, San Antonio, TX 78253',
   'value': 'San-Antonio-2'},
  {'label': '13999 South Virginia, Reno, NV 89511', 'value': 'Reno'},
  {'label': '5141 Tuttle Crossing, Dublin, OH 43016', 'value': 'Dublin-8'},
  {'label': '190 Nut Tree Pkwy, Vacaville, CA 95687', 'value': 'Vacaville'},
  {'label': '11600 Amargosa Rd, Victorville, CA 92392',
   'value': 'Victorville'},
  {'label': '6611 W. Newberry Rd, Gainesville, FL 32605',
   'value': 'Gainesville'},
  {'label': '106 Main St, Newport Beach, CA 92661', 'value': 'Newport-Beach'},
  {'label': '939 Broxton Ave, Westwood, CA 90024', 'value': 'Westwood'},
  {'label': '17615 Castleton St, City of Industry, CA 91748',
   'value': 'City-Of-Industry'},
  {'label': '1819 Washington Rd, Upper Saint Clair, PA 15241',
   'value': 'Upper-Saint-Clair'},
  {'label': '1861 Carl D Silver Pkwy, Fredericksburg, VA 22401',
   'value': 'Fredericksburg'},
  {'label': '460 The City Dr S, Orange, CA 92868', 'value': 'Orange-2'},
  {'label': '8285 Red Bug Lake Rd, Oviedo, FL 32765', 'value': 'Oviedo-2'},
  {'label': '401 The Bridge St, Ste 120, Huntsville, AL 35086',
   'value': 'Huntsville'},
  {'label': '555 Broadway, Suite 110, Chula Vista, CA 91910',
   'value': 'Chula-Vista'},
  {'label': '3297 Nicholasville Rd, Lexington, KY 40503',
   'value': 'Lexington-2'},
  {'label': '1700 W New Haven Ave, Melbourne, FL 32904', 'value': 'Melbourne'},
  {'label': '600 Brea Mall Dr, Brea, CA 92821', 'value': 'Brea-2'},
  {'label': '4270 N. Oracle Rd, Tucson, AZ 85705', 'value': 'Tucson'},
  {'label': '9401 Sage Meadow Trl, Fort Worth, TX 76177',
   'value': 'Fort-Worth'},
  {'label': '5207 Brodie Lane, Sunset Valley, TX 78745',
   'value': 'Sunset-Valley'},
  {'label': '3531 N. Freeway Blvd., Sacramento, CA 95834',
   'value': 'Sacramento-6'},
  {'label': '6476 Strip Ave NW, North Canton, OH 44720',
   'value': 'North-Canton'},
  {'label': '12090 Jefferson Ave, Newport News, VA 23606',
   'value': 'Newport-News'},
  {'label': '12105 N Center Ave, Portland, OR 97217', 'value': 'Portland'},
  {'label': '2520 Tuscany St, Corona, CA 92881', 'value': 'Corona'},
  {'label': '6000 Sepulveda Blvd., Suite 1111, Culver City, CA 90230',
   'value': 'Culver-City-2'},
  {'label': '2201 E Southlake Blvd, Southlake, TX 76092',
   'value': 'Southlake'},
  {'label': '3955 E. Thousand Oaks Blvd., Westlake Village, CA 91362',
   'value': 'Westlake-Village'},

In [22]:
import pandas as pd
import _pickle as pickle
import datetime
from six.moves import cPickle as pickle  # for performance
import os

# After you are done editing here run app_processing and first_page_execution

##  If you edit this one also edit frames in processing
#### NB Frames is inextricably linked with app_processin.py, you have to run it for any of this to take effect.
# Also linked to first_page_execution
# Try and Except because it is linked to two files as inputs

my_path = os.path.abspath(os.path.dirname('__file__'))

path = os.path.join(my_path, "../input_fields.csv")


input_fields = pd.read_csv(path)

not_listed = input_fields[input_fields["listed"] == "No"].reset_index(drop=True)["code_or_ticker"]

s = ["'" + str(int(str(datetime.datetime.now().year)[-2:]) - 4 + i) for i in range(5)]



s_metrics_df = pd.DataFrame([["Type", "E", "C", "S", "M", "A", "BA"],
                             ["Sentiment", 3, 1, 1, 1, 1, 1],])

c_metrics_df = pd.DataFrame([["Year", s[0], s[1], s[2], s[3], s[4]],
                             ["Solvency", 1, 1, 1, 1, 1],
                             ["Efficiency", 2, 1, 1, 1, 1],
                             ["Profitability", 3, 1, 1, 1, 1],
                             ["Liquidity", 4, 1, 1, 1, 1]])


# Function To Import Dictionary and Open IT.
def load_dict(filename_):
    with open(filename_, 'rb') as f:
        ret_di = pd.read_pickle(f)
    return ret_di


import os

my_path = os.path.abspath(os.path.dirname('__file__'))


path = os.path.join(my_path, "../data/financial/")


# And the specification of this table
dict_frames = load_dict(path + 'data.pkl')  # Much rather use this one


def fin_met(coy, bench):
    if coy in list(not_listed):

        my_path = os.path.abspath(os.path.dirname('__file__'))
        try:
            path = os.path.join(my_path, "data/cpickle/")
        except:
            path = os.path.join(my_path, "../data/cpickle/")

        art_ratios = pickle.load(open(path + "art_ratios.p", "rb"))
        art_ratios = art_ratios["ratios"][coy]

        df_input = art_ratios.round(2)

        ratios_df = pd.DataFrame([["", 'Yr 1', 'Yr 2', 'Yr 3', 'Yr5'],
                                  ['Revenue growth', df_input["Revenue growth_pred"].iloc[-1],
                                   df_input["Revenue growth_pred"].iloc[-2:].mean(),
                                   df_input["Revenue growth_pred"].iloc[-3:].mean(),
                                   df_input["Revenue growth_pred"].iloc[-5]],
                                  ['EPS growth', df_input["EPS growth_pred"].iloc[-1],
                                   df_input["EPS growth_pred"].iloc[-2:].mean(),
                                   df_input["EPS growth_pred"].iloc[-3:].mean(),
                                   df_input["EPS growth_pred"].iloc[-5:].mean()],
                                  ['ROA', df_input["ROA_pred"].iloc[-1], df_input["ROA_pred"].iloc[-2:].mean(),
                                   df_input["ROA_pred"].iloc[-3:].mean(), df_input["ROA_pred"].iloc[-5:].mean()],
                                  ['Net Margin', df_input["Net Margin_pred"].iloc[-1],
                                   df_input["Net Margin_pred"].iloc[-2:].mean(),
                                   df_input["Net Margin_pred"].iloc[-3:].mean(),
                                   df_input["Net Margin_pred"].iloc[-5:].mean()],
                                  ['FCF/Sales', df_input["FCF/Sales_pred"].iloc[-1],
                                   df_input["FCF/Sales_pred"].iloc[-2:].mean(),
                                   df_input["FCF/Sales_pred"].iloc[-3:].mean(),
                                   df_input["FCF/Sales_pred"].iloc[-5:].mean()]])


    else:
        df_input = dict_frames[coy, "calculations", "Original"].round(2)
        df_input = df_input.fillna(df_input.mean()).round(2)

        ratios_df = pd.DataFrame([["", 'Yr 1', 'Yr 2', 'Yr 3', 'Yr5'],
                                  ['Revenue growth', df_input["Year over Year"].iloc[-1],
                                   df_input["Year over Year"].iloc[-2:].mean(),
                                   df_input["Year over Year"].iloc[-3:].mean(),
                                   df_input["Year over Year"].iloc[-5:].mean()],
                                  ['EPS growth', df_input["Year over Year.3"].iloc[-1],
                                   df_input["Year over Year.3"].iloc[-2:].mean(),
                                   df_input["Year over Year.3"].iloc[-3:].mean(),
                                   df_input["Year over Year.3"].iloc[-5:].mean()],
                                  ['ROA', df_input["Return on Assets %"].iloc[-1],
                                   df_input["Return on Assets %"].iloc[-2:].mean(),
                                   df_input["Return on Assets %"].iloc[-3:].mean(),
                                   df_input["Return on Assets %"].iloc[-5:].mean()],
                                  ['Net Margin', df_input["Net Margin %"].iloc[-1],
                                   df_input["Net Margin %"].iloc[-2:].mean(), df_input["Net Margin %"].iloc[-3:].mean(),
                                   df_input["Net Margin %"].iloc[-5:].mean()],
                                  ['FCF/Sales', df_input["Free Cash Flow/Sales %"].iloc[-1],
                                   df_input["Free Cash Flow/Sales %"].iloc[-2:].mean(),
                                   df_input["Free Cash Flow/Sales %"].iloc[-3:].mean(),
                                   df_input["Free Cash Flow/Sales %"].iloc[-5:].mean()]])

    if bench in list(not_listed):

        my_path = os.path.abspath(os.path.dirname('__file__'))

        path = os.path.join(my_path, "../data/cpickle/")

        art_ratios = pickle.load(open(path + "art_ratios.p", "rb"))
        art_ratios = art_ratios["ratios"][bench]

        df_input = art_ratios.round(2)

        ratios_df_ben = pd.DataFrame([["", 'Yr 1', 'Yr 2', 'Yr 3', 'Yr5'],
                                      ['Revenue growth', df_input["Revenue growth_pred"].iloc[-1],
                                       df_input["Revenue growth_pred"].iloc[-2:].mean(),
                                       df_input["Revenue growth_pred"].iloc[-3:].mean(),
                                       df_input["Revenue growth_pred"].iloc[-5]],
                                      ['EPS growth', df_input["EPS growth_pred"].iloc[-1],
                                       df_input["EPS growth_pred"].iloc[-2:].mean(),
                                       df_input["EPS growth_pred"].iloc[-3:].mean(),
                                       df_input["EPS growth_pred"].iloc[-5:].mean()],
                                      ['ROA', df_input["ROA_pred"].iloc[-1], df_input["ROA_pred"].iloc[-2:].mean(),
                                       df_input["ROA_pred"].iloc[-3:].mean(), df_input["ROA_pred"].iloc[-5:].mean()],
                                      ['Net Margin', df_input["Net Margin_pred"].iloc[-1],
                                       df_input["Net Margin_pred"].iloc[-2:].mean(),
                                       df_input["Net Margin_pred"].iloc[-3:].mean(),
                                       df_input["Net Margin_pred"].iloc[-5:].mean()],
                                      ['FCF/Sales', df_input["FCF/Sales_pred"].iloc[-1],
                                       df_input["FCF/Sales_pred"].iloc[-2:].mean(),
                                       df_input["FCF/Sales_pred"].iloc[-3:].mean(),
                                       df_input["FCF/Sales_pred"].iloc[-5:].mean()]])

    else:
        df_input = dict_frames[bench, "calculations", "Original"].round(2)
        df_input = df_input.fillna(df_input.mean()).round(2)

        ratios_df_ben = pd.DataFrame([["", 'Yr 1', 'Yr 2', 'Yr 3', 'Yr5'],
                                      ['Revenue growth', df_input["Year over Year"].iloc[-1],
                                       df_input["Year over Year"].iloc[-2:].mean(),
                                       df_input["Year over Year"].iloc[-3:].mean(),
                                       df_input["Year over Year"].iloc[-5:].mean()],
                                      ['EPS growth', df_input["Year over Year.3"].iloc[-1],
                                       df_input["Year over Year.3"].iloc[-2:].mean(),
                                       df_input["Year over Year.3"].iloc[-3:].mean(),
                                       df_input["Year over Year.3"].iloc[-5:].mean()],
                                      ['ROA', df_input["Return on Assets %"].iloc[-1],
                                       df_input["Return on Assets %"].iloc[-2:].mean(),
                                       df_input["Return on Assets %"].iloc[-3:].mean(),
                                       df_input["Return on Assets %"].iloc[-5:].mean()],
                                      ['Net Margin', df_input["Net Margin %"].iloc[-1],
                                       df_input["Net Margin %"].iloc[-2:].mean(),
                                       df_input["Net Margin %"].iloc[-3:].mean(),
                                       df_input["Net Margin %"].iloc[-5:].mean()],
                                      ['FCF/Sales', df_input["Free Cash Flow/Sales %"].iloc[-1],
                                       df_input["Free Cash Flow/Sales %"].iloc[-2:].mean(),
                                       df_input["Free Cash Flow/Sales %"].iloc[-3:].mean(),
                                       df_input["Free Cash Flow/Sales %"].iloc[-5:].mean()]])

    ratios_df.columns = ["one", "two", "three", "four", "five"]
    ratios_df_ben.columns = ["six", "seven", "eight", "nine", "ten"]

    ratios_df_final = pd.concat((ratios_df, ratios_df_ben.iloc[:, 1:]), axis=1)
    ratios_df_final.iloc[1:, 1:] = ratios_df_final.iloc[1:, 1:].astype(float).round(2)

    return ratios_df_final


c_metrics_df_2 = c_metrics_df.set_index(0, drop=True)

new_open_string = "{BJ's}  {}."

In [23]:
fin_met("BJRI", "CAKE")

              one    two  three   four   five  seven  eight   nine    ten
0                   Yr 1   Yr 2   Yr 3    Yr5   Yr 1   Yr 2   Yr 3    Yr5
1  Revenue growth  -1.69    1.1    3.4   5.61  -5.19  -2.93   0.83    2.8
2      EPS growth  98.18  53.88  38.81  45.53  82.09  48.82  40.23  26.27
3             ROA   6.43   6.43   6.47   6.12  11.99  11.99  11.67   10.7
4      Net Margin   4.34   4.34   4.42   4.29   6.96   6.96   6.68   6.14
5       FCF/Sales   3.52   3.52   3.32   3.17   5.15   5.15   6.14    5.7

In [16]:
import os
import pandas as pd
import _pickle as pickle

def load_dict(filename_):
    with open(filename_, 'rb') as f:
        ret_di = pd.read_pickle(f)
    return ret_di


my_path = os.path.abspath(os.path.dirname('__file__'))
coy = "BJRI"
path = os.path.join(my_path, "../data/financial/")
dict_frames = load_dict(path + 'data.pkl')
df_input = dict_frames[coy, "calculations", "Original"].round(2)
df_input = df_input.fillna(df_input.mean()).round(2)

In [17]:
pd.set_option("display.max_columns",None)

In [18]:
df_input = df_input.iloc[:-1,:].reset_index(drop=True)

In [19]:
df_input

,year,Revenue USD Mil,Gross Margin %,Operating Income USD Mil,Operating Margin %,Net Income USD Mil,Earnings Per Share USD,Dividends USD,Payout Ratio % *,Shares Mil,Book Value Per Share * USD,Operating Cash Flow USD Mil,Cap Spending USD Mil,Free Cash Flow USD Mil,Free Cash Flow Per Share * USD,Working Capital USD Mil,Revenue,COGS,Gross Margin,SG&A,R&D,Other,Operating Margin,Net Int Inc & Other,EBT Margin,Tax Rate %,Net Margin %,Asset Turnover (Average),Return on Assets %,Financial Leverage (Average),Return on Equity %,Return on Invested Capital %,Interest Coverage,Year over Year,3-Year Average,5-Year Average,10-Year Average,Year over Year.1,3-Year Average.1,5-Year Average.1,10-Year Average.1,Year over Year.2,3-Year Average.2,5-Year Average.2,10-Year Average.2,Year over Year.3,3-Year Average.3,5-Year Average.3,10-Year Average.3,Operating Cash Flow Growth % YOY,Free Cash Flow Growth % YOY,Cap Ex as a % of Sales,Free Cash Flow/Sales %,Free Cash Flow/Net Income,Cash & Short-Term Investments,Accounts Receivable,Inventory,Other Current Assets,Total Current Assets,Net PP&E,Intangibles,Other Long-Term Assets,Total Assets,Accounts Payable,Short-Term Debt,Taxes Payable,Accrued Liabilities,Other Short-Term Liabilities,Total Current Liabilities,Long-Term Debt,Other Long-Term Liabilities,Total Liabilities,Total Stockholders' Equity,Total Liabilities & Equity,Current Ratio,Quick Ratio,Financial Leverage,Debt/Equity,Days Sales Outstanding,Days Inventory,Payables Period,Cash Conversion Cycle,Receivables Turnover,Inventory Turnover,Fixed Assets Turnover,Asset Turnover,adj_close
0,2009,427.0,40.1,20.0,4.6,13.0,0.48,0.01,0.01,27.0,9.45,68.0,-60.0,8.0,0.31,8.00,100.0,59.89,40.11,29.77,0.01,5.73,4.62,-0.26,4.36,29.85,3.06,1.19,3.64,1.51,5.37,5.16,0.01,14.07,21.33,27.02,27.57,80.67,15.01,19.86,37.75,26.48,9.82,15.79,42.02,23.08,5.39,9.86,25.38,16.77,0.01,14.06,1.95,0.64,11.78,3.46,1.05,3.20,19.49,76.59,1.23,2.69,100.0,3.14,0.01,0.01,14.37,0.01,17.51,1.31,14.80,33.62,66.38,100.0,1.11,0.87,1.51,0.02,9.96,5.43,17.61,-2.23,36.66,67.25,1.54,1.19,18.76
1,2010,514.0,40.8,31.0,6.1,23.0,0.82,0.01,0.01,28.0,10.53,75.0,-68.0,7.0,0.24,19.00,100.0,59.21,40.79,29.07,0.01,5.62,6.09,-0.10,5.99,24.80,4.51,1.27,5.71,1.49,8.57,8.56,343.22,20.42,17.58,23.59,25.66,53.05,31.01,22.12,39.85,77.65,25.55,22.63,28.12,70.83,23.06,17.90,12.61,9.28,-20.13,13.24,1.29,0.29,12.37,2.33,1.15,3.38,19.23,76.75,1.09,2.93,100.0,4.47,0.01,0.01,10.43,0.01,14.90,0.01,18.18,33.08,66.92,100.0,1.29,0.99,1.49,0.01,8.25,5.37,18.71,-5.09,44.23,67.96,1.65,1.27,35.31
2,2011,621.0,20.4,43.0,7.0,32.0,1.08,0.01,0.01,29.0,11.50,89.0,-95.0,-6.0,0.04,13.00,100.0,79.63,20.37,7.89,0.01,5.49,6.99,0.04,7.03,27.68,5.08,1.33,6.77,1.51,10.18,10.16,304.14,20.84,18.40,21.05,25.38,44.01,58.50,27.38,23.75,36.30,45.22,26.24,25.81,31.71,40.43,21.37,13.67,18.68,0.01,15.24,-0.96,-0.19,9.04,2.90,1.19,4.20,17.33,77.79,0.93,3.95,100.0,4.73,0.01,1.68,2.76,5.60,14.77,0.01,19.01,33.79,66.21,100.0,1.17,0.81,1.51,0.01,7.22,5.43,21.36,-8.71,50.52,67.23,1.72,1.33,45.16
3,2012,708.0,19.4,41.0,5.8,31.0,1.09,0.01,0.01,29.0,13.27,87.0,-107.0,-20.0,-0.68,0.01,100.0,80.62,19.38,7.70,0.01,5.84,5.85,0.17,6.02,26.37,4.43,1.33,5.88,1.52,8.92,8.87,790.93,14.07,18.40,17.51,25.06,-4.61,28.11,25.30,54.75,-0.51,34.05,21.83,34.13,0.93,31.44,19.89,28.33,-1.74,0.01,15.05,-2.76,-0.62,5.89,3.34,1.07,4.29,14.59,80.71,0.82,3.88,100.0,4.53,0.01,1.99,2.11,5.93,14.55,0.01,19.86,34.41,65.59,100.0,1.00,0.63,1.52,0.01,8.62,3.84,15.80,-3.33,42.33,94.98,1.67,1.33,32.78
4,2013,775.0,17.5,28.0,3.6,21.0,0.73,0.01,0.01,29.0,14.03,96.0,-117.0,-22.0,-0.75,-21.00,100.0,82.48,17.52,7.62,0.01,6.32,3.58,-0.35,3.23,15.95,2.71,1.32,3.57,1.52,5.44,5.44,0.01,9.43,14.69,15.69,22.37,-33.03,-2.74,20.53,18.02,-33.07,-3.18,15.32,19.32,-33.03,-3.80,13.36,15.03,9.72,0.01,15.10,-2.78,-1.02,5.07,2.09,1.22,3.22,11.60,84.08,0.76,3.56,100.0,5.15,0.01,1.53,2.09,6.31,15.08,0.01,19.20,34.29,65.71,100.0,0.77,0.47,1.52,0.01,7.46,3.85,16.31,-4.99,48.90,94.76,1.60,1.32,30.95
5,2014,846.0,17.9,37.0,4.4,27.0,0.97,0.01,0.01,28.0,13.88,100.0,-88.0,12.0,-0.22,-26.00,100.0,82.05,17.95,6.97,0.01,6.55,4.42,-0.13,4.30,24.57,3.24,1.34,4.36,1.86,7.30,6.33,0.01,9.09,10.84,14.66,20.68,34.79,-4.87,13.67,16.72,30.33,-4.62,16.01,15.90,32.88,-3.52,15.11,12.45,4.71,0.01,10.42,1.41,0.43,4.74,2.90,1.24,3.68,12.57,83.66,0.72,3.05,100.0,5.32,0.01,1.36,2.15,7.71,16.54,8.96,20.61,46.11,53.89,100.0,0.76,0.46,1.86,0.17,5.96,4.06,17.33,-7.30,61.22,89.85,1.60,1.34,50.03
6,2015,920.0,19.9,63.0,6.9,45.0,1.73,0.01,0.01,26.0,13.52,127.0,-86.0,41.0,1.57,-24.00,100.0,80.11,19.89,6.57,0.01,6.46,6.86,-0.10,6.75,27.02,4.93,1.38,6.82,2.15,13.63,11.01,0.01,8.75,9.09,12.34,17.83,68.66,15.04,15.90,18.97,65.44,13.00,14.37,18.43,78.35,16.65,16.10,17.00,27.17,245.37,9.36,4.48,0.91,5.08,3.72,1.30,3.54,13.64,82.42,0.69,3.25,100.0,4.85,0.01,1.51,2.52,8.27,17.15,14.74,21.68,53.57,46.43,100.0,0.80,0.51,2.15,0.32,7.18,4.19,16.70,-5.34,50.85,87.17,1.67,1.38,43.32
7,2016,993.0,19.3,65.0,6.5,46.0,1.88,0.01,0.01,24.0,13.27,138.0,-109.0,29.0,1.31,-49.00,100.0,80.70,19.30,6.28,0.01,6.47,6.54,-0.39,6.15,25.43,4.59,1.43,6.55,2.58,15.41,10.85,0.01,7.99,8.61,9.85,15.31,2.46,32.56,8.27,17.44,0.51,29.41,7.61,16.56,8.67,37.07,11.72,16.45,8.75,-29.54,11.01,2.92,0.64,3.21,2.07,1.40,4.19,10.87,84.83,0.66,3.64,100.0,4.39,0.01,1.71,2.63,8.99,17.73,20.88,22.61,61.22,38.78,100.0,0.61,0.29,2.58,0.54,6.39,4.28,14.61,-3.94,57.12,85.26,1.71,1.43,39.16
8,2017,1032.0,16.7,44.0,4.3,45.0,2.06,0.11,0.01,22.0,11.88,107.0,-71.0,36.0,0.57,-62.00,100.0,83.33,16.67,5.75,0.01,6.65,4.27,-0.84,3.43,0.01,4.34,1.48,6.43,2.65,16.78,10.60,0.01,3.90,6.86,7.81,12.56,-31.89,5.58,1.22,12.62,-1.71,17.80,7.35,14.36,9.57,28.54,13.58,16.69,-22.64,25.19,6.86,3.52,0.81,3.55,2.02,1.53,1.70,8.81,86.11,0.68,4.40,100.0,3.69,0.01,2.09,2.84,9.26,17.89,23.87,20.47,62.23,37.77,100.0,0.49,0.31,2.65,0.63,4.83,4.33,11.98,-2.81,75.57,84.21,1.73,1.48,36.40

In [13]:
import os
import pandas as pd

my_path = os.path.abspath(os.path.dirname('__file__'))
path = os.path.join(my_path, "../data/closure/")
new_frame = pd.read_csv(path + "stakeholder_metrics.csv")
new_frame = new_frame.set_index("ticker")
print(new_frame)
new_frame.columns = ['Customers', 'Management', 'Employees', 'Shareholders', "Mean"]
go = -1
for inde in list(new_frame.index):
    go = go + 1
    distances = (((new_frame[new_frame.index != inde].loc[:, :"Shareholders"] - new_frame.loc[inde,
                                                                                :"Shareholders"]) ** 2).mean(
        axis=1)) ** (1 / 2)

    frmo = distances.to_frame()

    frmo.columns = [inde]

    if go == 0:
        fula = frmo
    else:
        fula = pd.merge(fula, frmo, left_index=True, right_index=True, how="left")

        Customers  Management  Employees  Valuation Part      Mean
ticker
APPB     3.283182      2.9125   3.044000        3.744444  3.246032
BJRI     3.963182      3.3350   3.464000        3.563778  3.581490
CAKE     3.842727      3.4550   3.524000        3.518222  3.584987
CHIL     3.413636      3.0825   3.494000        3.712444  3.425645
CPKI     4.023182      3.6075   3.510000        4.134444  3.818782
RRGB     3.563636      3.0600   3.356000        3.318000  3.324409
TGIF     3.261364      2.9125   3.382000        3.594000  3.287466
Mean     3.621558      3.1950   3.396286        3.655048  3.466973

In [19]:
fula.iloc[:-1,:]

            APPB      BJRI      CAKE      CHIL      CPKI      RRGB      TGIF
ticker
BJRI    0.460963       NaN  0.092985  0.311752  0.318447  0.277188  0.411914
CAKE    0.471427  0.092985       NaN  0.300623  0.330055  0.274877  0.405646
CHIL    0.249721  0.311752  0.300623       NaN  0.454288  0.222282  0.140232
CPKI    0.591583  0.318447  0.330055  0.454288       NaN  0.548005  0.585631
RRGB    0.308062  0.277188  0.274877  0.222282  0.548005       NaN  0.217932
TGIF    0.185306  0.411914  0.405646  0.140232  0.585631  0.217932       NaN

In [16]:
del fula["Mean"]

In [17]:
fula

            APPB      BJRI      CAKE      CHIL      CPKI      RRGB      TGIF
ticker
BJRI    0.460963       NaN  0.092985  0.311752  0.318447  0.277188  0.411914
CAKE    0.471427  0.092985       NaN  0.300623  0.330055  0.274877  0.405646
CHIL    0.249721  0.311752  0.300623       NaN  0.454288  0.222282  0.140232
CPKI    0.591583  0.318447  0.330055  0.454288       NaN  0.548005  0.585631
RRGB    0.308062  0.277188  0.274877  0.222282  0.548005       NaN  0.217932
TGIF    0.185306  0.411914  0.405646  0.140232  0.585631  0.217932       NaN
Mean    0.285658  0.193146  0.194646  0.131082  0.378883  0.184935  0.231018

In [109]:
import os 
import pandas as pd

c = "RRGB"

input_fields = pd.read_csv(path)

codes = input_fields["code_or_ticker"]

blu =-1 
for c in codes:
    blu = blu + 1
    
    my_path = os.path.abspath(os.path.dirname('__file__'))
    path = os.path.join(my_path, "../input_fields.csv")
    path_in = os.path.join(my_path, "../data/ratings/")


    df_tick= pd.read_csv(path_in +c + "_stock_rate.csv")
    glassdoor = pd.read_csv(path_in + c + "_gdoor_employee_rate.csv")
    glassdoor_m= pd.read_csv(path_in +c + "_gdoor_mgmt_rate.csv")

    ## Alternative DF stock:

    path_in = os.path.join(my_path, "../data/stock/")
    df_tick= pd.read_csv(path_in +c + "_tick_df.csv")

    ## This is normalised, but I don't see why I shouldn't 
    df_tick = df_tick.fillna(method="bfill").fillna(method="ffill")

    df_tick = df_tick[["close","date"]]

    from scipy import signal
    glassdoor["ben_smooth"] = signal.savgol_filter(glassdoor["Final_Comp Benefits"], 199, 3)



    glassdoor["Review Date"] = pd.to_datetime(glassdoor["Review Date"], infer_datetime_format=True)
    glassdoor_m["Review Date"] = pd.to_datetime(glassdoor_m["date"], infer_datetime_format=True)
    new_door = glassdoor[["Review Date","Final_Rating","Final_Work Life Balance",
              "Final_Culture Values","Final_Career Opportunities",
              "Final_Comp Benefits","ben_smooth","Final_Senior Management"]].set_index("Review Date")

    new_door_m = glassdoor_m[["Review Date","trace_mse","trace_mwlb","trace_mcva","trace_mcop","trace_mcbe","trace_msma"]].set_index("Review Date")

    df_tick["date"] = pd.to_datetime(df_tick["date"], infer_datetime_format=True)

    df_tick = df_tick.set_index("date")

    df_tick = pd.merge(df_tick, new_door, left_index=True, right_index=True, how="outer")

    df_tick = pd.merge(df_tick, new_door_m , left_index=True, right_index=True, how="outer")

    path_in = os.path.join(my_path, "../data/ratings/")
    yelp= pd.read_csv(path_in + "all_yelps_rates_" + c +".csv")
    yelp["date"] = pd.to_datetime(yelp["date"], infer_datetime_format=True)



    df_tick = pd.merge(df_tick, yelp[["date","all","new"]].set_index("date") , left_index=True, right_index=True, how="outer")

    df_tick = df_tick.fillna(method="bfill").fillna(method="ffill")

    df_tick.head()

    if blu==0:
        df_full = df_tick
    else:
        df_full = pd.concat((df_full,df_tick),axis=0)

df_full = df_full.reset_index(drop=True)

corr_mat = df_full.corr()

from scipy.stats import pearsonr
import pandas as pd

def calculate_pvalues(df):
    df = df.dropna()._get_numeric_data()
    dfcols = pd.DataFrame(columns=df.columns)
    pvalues = dfcols.transpose().join(dfcols, how='outer')
    for r in df.columns:
        for c in df.columns:
            pvalues[r][c] = round(pearsonr(df[r], df[c])[1], 12)
    return pvalues


calculate_pvalues(df_full)

corr_mat

corr_mat = corr_mat[["close","Final_Work Life Balance" , "Final_Culture Values" , "Final_Career Opportunities" , "Final_Comp Benefits" , "trace_mcva", "Final_Senior Management" , "trace_msma" , "all", "new"]]  

corr_mat = corr_mat[corr_mat.index.isin(["close", "all"])]

corr_mat.columns = ["Firm Value","Work Life Balance", "Employee Culture","Career Opportunities","Compensation","Management Culture","Management Competence","Upper Management Competence","Customer Satisfaction","Customer Transformed"]

corr_mat.index =  ["Firm Value","Customer Satisfaction"]

In [110]:
corr_mat

,Firm Value,Work Life Balance,Employee Culture,Career Opportunities,Compensation,Management Culture,Management Competence,Upper Management Competence,Customer Satisfaction,Customer Transformed
Firm Value,1.000000,0.107137,0.354962,0.292417,0.327986,0.300595,0.256753,0.153506,0.084272,0.060568
Customer Satisfaction,0.084272,0.358455,0.437011,0.403017,0.359150,0.271588,0.313038,0.262023,1.000000,0.592318

In [93]:
corr_mat =corr_mat.round(2).T.reset_index().T.reset_index()
corr_mat = corr_mat.replace("index","Correlation")
path_in = os.path.join(my_path, "../data/ratings/")
corr_mat.to_csv(path_in +"corr_mat.csv",index=False)

In [ ]:
## All meassures are above six sigma statistical significance. Customer satisfaction is highly correlated with lower level employee culture and values and employees perception of career opportunities and upward mobility in the firm.

In [103]:
yelp["all"]

0       3.159375
1       3.158785
2       3.157717
3       3.154154
4       3.155729
5       3.156856
6       3.155022
7       3.155081
8       3.153360
9       3.154053
10      3.154047
11      3.154840
12      3.153191
13      3.152579
14      3.151899
15      3.152569
16      3.150978
17      3.152928
18      3.151958
19      3.151117
20      3.150896
21      3.148302
22      3.146566
23      3.146299
24      3.145588
25      3.145505
26      3.146814
27      3.147370
28      3.147833
29      3.146944
30      3.147496
31      3.148089
32      3.147331
33      3.146454
34      3.147950
35      3.146314
36      3.145416
37      3.142632
38      3.142427
39      3.143579
40      3.143582
41      3.143695
42      3.139578
43      3.138483
44      3.139656
45      3.140499
46      3.140808
47      3.141366
48      3.138644
49      3.142521
50      3.140720
51      3.139077
52      3.137685
53      3.135744
54      3.137273
55      3.136720
56      3.136905
57      3.135336
58      3.134049
59      3.131592
60      3.132609
61      3.131883
62      3.132021
63      3.132171
64      3.131571
65      3.131964
66      3.130959
67      3.129918
68      3.130610
69      3.128353
70      3.127535
71      3.127459
72      3.129771
73      3.129201
74      3.127418
75      3.127636
76      3.126711
77      3.126421
78      3.127465
79      3.128339
80      3.129873
81      3.130085
82      3.130441
83      3.129914
84      3.131055
85      3.130235
86      3.134644
87      3.133958
88      3.134738
89      3.134433
90      3.134236
91      3.135481
92      3.135254
93      3.136196
94      3.135351
95      3.134675
96      3.135286
97      3.132489
98      3.133901
99      3.134799
100     3.134619
101     3.135534
102     3.136053
103     3.136273
104     3.136250
105     3.131102
106     3.128959
107     3.129294
108     3.129218
109     3.125542
110     3.128254
111     3.130770
112     3.130881
113     3.130428
114     3.131981
115     3.131390
116     3.131190
117     3.132020
118     3.133128
119     3.132486
120     3.131520
121     3.139147
122     3.138462
123     3.138901
124     3.138321
125     3.139077
126     3.139093
127     3.138135
128     3.135782
129     3.138699
130     3.137356
131     3.136504
132     3.136127
133     3.136266
134     3.135088
135     3.135109
136     3.134590
137     3.134607
138     3.132622
139     3.134906
140     3.134752
141     3.133021
142     3.133501
143     3.133206
144     3.133661
145     3.135484
146     3.136605
147     3.136650
148     3.131340
149     3.130857
150     3.131675
151     3.130071
152     3.130518
153     3.131517
154     3.130670
155     3.131301
156     3.130085
157     3.130119
158     3.129727
159     3.130573
160     3.131925
161     3.128882
162     3.129950
163     3.131235
164     3.130347
165     3.131146
166     3.130666
167     3.136039
168     3.136416
169     3.132195
170     3.132636
171     3.132427
172     3.133507
173     3.130387
174     3.126394
175     3.126263
176     3.123123
177     3.121157
178     3.119508
179     3.120424
180     3.121276
181     3.120273
182     3.117853
183     3.116141
184     3.118528
185     3.115753
186     3.119854
187     3.121175
188     3.119569
189     3.117032
190     3.116141
191     3.114701
192     3.114613
193     3.114270
194     3.114793
195     3.114743
196     3.115561
197     3.115172
198     3.119692
199     3.118314
200     3.114934
201     3.115002
202     3.118983
203     3.117753
204     3.117553
205     3.117605
206     3.117873
207     3.117389
208     3.117949
209     3.119765
210     3.117858
211     3.114858
212     3.114394
213     3.111844
214     3.110997
215     3.112493
216     3.111747
217     3.112621
218     3.112319
219     3.111718
220     3.110162
221     3.109979
222     3.107254
223     3.106766
224     3.104724
225     3.110560
226     3.111254
227     3.110222
228     3.113449
229     3.113628
230     3.113254
231     3.113265
232     3.114963
233     3.116473
234     3.116831
235     3.116936
236     3.116626
237     3.116499
238     3.116296
239     3.114826
240     3.113262
241     3.114084
242     3.114659
243     3.114823
244     3.115232
245     3.113575
246     3.114340
247     3.112685
248     3.111304
249     3.110905
250     3.110619
251     3.109314
252     3.107042
253     3.107298
254     3.107755
255     3.106867
256     3.105094
257     3.107472
258     3.108182
259     3.108107
260     3.106725
261     3.107505
262     3.108078
263     3.107758
264     3.108681
265     3.109376
266     3.108269
267     3.109583
268     3.109418
269     3.111102
270     3.112293
271     3.113124
272     3.113734
273     3.114235
274     3.112995
275     3.114070
276     3.107647
277     3.106656
278     3.106173
279     3.108942
280     3.108792
281     3.108560
282     3.108003
283     3.107853
284     3.108411
285     3.109206
286     3.107063
287     3.105268
288     3.105727
289     3.106469
290     3.105347
291     3.104402
292     3.103513
293     3.104903
294     3.103259
295     3.103022
296     3.103930
297     3.102409
298     3.104296
299     3.104005
300     3.105001
301     3.105097
302     3.106824
303     3.108366
304     3.107910
305     3.107653
306     3.106306
307     3.108370
308     3.108198
309     3.106891
310     3.106976
311     3.107465
312     3.108971
313     3.108567
314     3.108038
315     3.108912
316     3.106909
317     3.106660
318     3.105960
319     3.106680
320     3.107139
321     3.107098
322     3.106069
323     3.102936
324     3.102736
325     3.102585
326     3.102296
327     3.101957
328     3.104922
329     3.105619
330     3.106093
331     3.105416
332     3.105346
333     3.104053
334     3.103058
335     3.105157
336     3.106530
337     3.105836
338     3.103113
339     3.101687
340     3.102337
341     3.105580
342     3.104128
343     3.104728
344     3.105835
345     3.107363
346     3.109730
347     3.109103
348     3.110774
349     3.109707
350     3.112068
351     3.111825
352     3.112252
353     3.110942
354     3.110322
355     3.110214
356     3.113051
357     3.113452
358     3.112587
359     3.109877
360     3.110219
361     3.110718
362     3.110297
363     3.111785
364     3.109497
365     3.107103
366     3.108393
367     3.105991
368     3.106854
369     3.105533
370     3.107307
371     3.106759
372     3.107532
373     3.106356
374     3.107853
375     3.108906
376     3.108169
377     3.108814
378     3.109175
379     3.109428
380     3.110694
381     3.112008
382     3.111663
383     3.112175
384     3.112887
385     3.110397
386     3.108031
387     3.107118
388     3.108025
389     3.108182
390     3.110751
391     3.111396
392     3.111143
393     3.106278
394     3.103487
395     3.103718
396     3.105892
397     3.103538
398     3.107210
399     3.108183
400     3.112861
401     3.110688
402     3.108555
403     3.109507
404     3.110979
405     3.111673
406     3.110633
407     3.110396
408     3.115131
409     3.115722
410     3.114804
411     3.115139
412     3.113515
413     3.114719
414     3.115850
415     3.117483
416     3.119705
417     3.119069
418     3.120074
419     3.118346
420     3.117652
421     3.116160
422     3.114939
423     3.112937
424     3.114828
425     3.114543
426     3.114430
427     3.112601
428     3.112747
429     3.110480
430     3.108227
431     3.107188
432     3.108443
433     3.109312
434     3.107479
435     3.108018
436     3.108923
437     3.111357
438     3.111587
439     3.111462
440     3.111531
441     3.113327
442     3.110973
443     3.112303
444     3.113030
445     3.114474
446     3.112104
447     3.108918
448     3.107639
449     3.108101
450     3.106144
451     3.102814
452     3.103388
453     3.102272
454     3.102514
455     3.103794
456     3.099517
457     3.098902
458     3.103600
459     3.101059
460     3.099956
461     3.099907
462     3.099268
463     3.099984
464     3.098539
465     3.095458
466     3.096052
467     3.096629
468     3.096446
469     3.095116
470     3.094632
471     3.095902
472     3.094073
473     3.094784
474     3.093719
475     3.093399
476     3.088226
477     3.087266
478     3.088733
479     3.085499
480     3.084213
481     3.082959
482     3.082288
483     3.085344
484     3.085661
485     3.083639
486     3.083523
487     3.085600
488     3.086195
489     3.086033
490     3.083921
491     3.083444
492     3.081614
493     3.081433
494     3.078990
495     3.080608
496     3.081223
497     3.077964
498     3.078546
499     3.074074
500     3.073797
501     3.076129
502     3.077100
503     3.076903
504     3.074578
505     3.075711
506     3.076395
507     3.075856
508     3.076864
509     3.076661
510     3.075726
511     3.074340
512     3.075504
513     3.074727
514     3.076597
515     3.076156
516     3.072428
517     3.071106
518     3.071306
519     3.071684
520     3.072343
521     3.071356
522     3.070056
523     3.067766
524     3.066419
525     3.063229
526     3.060751
527     3.063092
528     3.059153
529     3.058538
530     3.055646
531     3.059647
532     3.059928
533     3.064044
534     3.066605
535     3.064783
536     3.063806
537     3.064137
538     3.063431
539     3.066127
540     3.066972
541     3.065053
542     3.066292
543     3.064467
544     3.065981
545     3.064821
546     3.063916
547     3.065214
548     3.061006
549     3.062149
550     3.061317
551     3.061492
552     3.061787
553     3.062825
554     3.064946
555     3.065084
556     3.065791
557     3.065045
558     3.067416
559     3.066582
560     3.066184
561     3.072144
562     3.072728
563     3.072799
564     3.070792
565     3.071433
566     3.069350
567     3.068649
568     3.065304
569     3.064243
570     3.064301
571     3.065219
572     3.067034
573     3.068172
574     3.067721
575     3.066633
576     3.067471
577     3.066438
578     3.061013
579     3.060993
580     3.060093
581     3.060016
582     3.061990
583     3.061591
584     3.065094
585     3.067541
586     3.068096
587     3.067231
588     3.067477
589     3.075072
590     3.076261
591     3.077971
592     3.078672
593     3.076979
594     3.081820
595     3.082234
596     3.079576
597     3.081392
598     3.083023
599     3.084856
600     3.083331
601     3.081853
602     3.082965
603     3.083776
604     3.082301
605     3.081612
606     3.082583
607     3.081533
608     3.084594
609     3.087819
610     3.087568
611     3.083896
612     3.081999
613     3.080765
614     3.079915
615     3.078997
616     3.077089
617     3.074376
618     3.072816
619     3.070836
620     3.069719
621     3.069199
622     3.069064
623     3.069745
624     3.073586
625     3.071731
626     3.072826
627     3.071533
628     3.073428
629     3.072034
630     3.069333
631     3.065695
632     3.065092
633     3.066996
634     3.064885
635     3.063220
636     3.061188
637     3.061639
638     3.059986
639     3.060146
640     3.059770
641     3.061516
642     3.061184
643     3.060149
644     3.056877
645     3.060837
646     3.062362
647     3.061269
648     3.062924
649     3.063952
650     3.061702
651     3.059577
652     3.059139
653     3.058796
654     3.059965
655     3.059028
656     3.059950
657     3.059430
658     3.057796
659     3.058219
660     3.058635
661     3.059209
662     3.060736
663     3.061159
664     3.061359
665     3.062754
666     3.062312
667     3.065002
668     3.065361
669     3.066018
670     3.065885
671     3.065300
672     3.063300
673     3.061392
674     3.061200
675     3.060789
676     3.061437
677     3.066789
678     3.068038
679     3.070896
680     3.072764
681     3.075258
682     3.078018
683     3.078732
684     3.079676
685     3.080785
686     3.080904
687     3.079876
688     3.077691
689     3.077898
690     3.078390
691     3.077499
692     3.076861
693     3.077256
694     3.079177
695     3.079683
696     3.080251
697     3.079100
698     3.081743
699     3.078692
700     3.079223
701     3.078197
702     3.079677
703     3.079550
704     3.078908
705     3.079597
706     3.078358
707     3.078409
708     3.079161
709     3.079427
710     3.078494
711     3.083059
712     3.083089
713     3.080997
714     3.085145
715     3.088665
716     3.090240
717     3.092807
718     3.093342
719     3.093521
720     3.092295
721     3.093099
722     3.093519
723     3.096831
724     3.098025
725     3.097151
726     3.093643
727     3.093903
728     3.098082
729     3.096102
730     3.098003
731     3.098045
732     3.097577
733     3.098879
734     3.101033
735     3.102667
736     3.101984
737     3.098767
738     3.100358
739     3.101437
740     3.103943
741     3.103930
742     3.105025
743     3.102024
744     3.101938
745     3.101778
746     3.103061
747     3.105534
748     3.104776
749     3.103387
750     3.101596
751     3.100580
752     3.100641
753     3.103506
754     3.106688
755     3.103018
756     3.102678
757     3.102157
758     3.104486
759     3.105127
760     3.105829
761     3.102441
762     3.104228
763     3.102276
764     3.103778
765     3.102214
766     3.099712
767     3.099289
768     3.101813
769     3.102874
770     3.104551
771     3.104944
772     3.106233
773     3.100355
774     3.103653
775     3.104145
776     3.105449
777     3.106051
778     3.106910
779     3.106291
780     3.109702
781     3.109569
782     3.110657
783     3.112321
784     3.113731
785     3.111258
786     3.112383
787     3.112666
788     3.113321
789     3.113515
790     3.114735
791     3.116262
792     3.115503
793     3.115461
794     3.111390
795     3.109353
796     3.110235
797     3.112672
798     3.112166
799     3.113054
800     3.113783
801     3.114649
802     3.115052
803     3.113043
804     3.108953
805     3.106907
806     3.104898
807     3.102522
808     3.102625
809     3.104601
810     3.106504
811     3.106667
812     3.104889
813     3.105829
814     3.107853
815     3.107126
816     3.107118
817     3.107456
818     3.108903
819     3.106550
820     3.103947
821     3.104489
822     3.105976
823     3.103802
824     3.108983
825     3.105795
826     3.102038
827     3.100197
828     3.099888
829     3.100416
830     3.101070
831     3.102609
832     3.102687
833     3.104885
834     3.098218
835     3.098156
836     3.098788
837     3.097592
838     3.098096
839     3.096860
840     3.095636
841     3.096349
842     3.095710
843     3.096758
844     3.098049
845     3.097198
846     3.096943
847     3.096827
848     3.098895
849     3.098091
850     3.096819
851     3.095879
852     3.096247
853     3.094464
854     3.093316
855     3.087769
856     3.087894
857     3.086170
858     3.089819
859     3.090741
860     3.091630
861     3.091340
862     3.089400
863     3.093247
864     3.093292
865     3.095534
866     3.095661
867     3.094531
868     3.094111
869     3.094396
870     3.095380
871     3.094942
872     3.094344
873     3.095732
874     3.096693
875     3.095686
876     3.096365
877     3.095704
878     3.098215
879     3.096212
880     3.092039
881     3.088465
882     3.088573
883     3.087058
884     3.085122
885     3.084791
886     3.082623
887     3.080847
888     3.081613
889     3.082453
890     3.081658
891     3.080359
892     3.086556
893     3.088672
894     3.090063
895     3.088613
896     3.084302
897     3.084861
898     3.087183
899     3.086986
900     3.087050
901     3.087222
902     3.086474
903     3.082576
904     3.085107
905     3.087484
906     3.086162
907     3.084987
908     3.084869
909     3.086006
910     3.086538
911     3.084277
912     3.086659
913     3.087018
914     3.086845
915     3.086728
916     3.086221
917     3.088132
918     3.090913
919     3.089589
920     3.088626
921     3.088389
922     3.090067
923     3.091036
924     3.088397
925     3.088125
926     3.095617
927     3.094812
928     3.095069
929     3.094708
930     3.092994
931     3.094934
932     3.094547
933     3.100484
934     3.098753
935     3.099600
936     3.100936
937     3.099488
938     3.098598
939     3.096815
940     3.097968
941     3.098497
942     3.098830
943     3.096560
944     3.093095
945     3.093481
946     3.094155
947     3.094253
948     3.095772
949     3.096842
950     3.098415
951     3.099880
952     3.100178
953     3.100534
954     3.099503
955     3.097928
956     3.097329
957     3.096949
958     3.099545
959     3.095925
960     3.093341
961     3.091321
962     3.093275
963     3.094395
964     3.093425
965     3.094983
966     3.091121
967     3.090008
968     3.091028
969     3.090502
970     3.092828
971     3.091985
972     3.091950
973     3.094004
974     3.095606
975     3.096400
976     3.097137
977     3.097468
978     3.097510
979     3.098562
980     3.096416
981     3.097901
982     3.097875
983     3.101072
984     3.101172
985     3.101327
986     3.099312
987     3.099872
988     3.102305
989     3.103838
990     3.105862
991     3.106277
992     3.107906
993     3.105350
994     3.107427
995     3.113725
996     3.112282
997     3.113559
998     3.113688
999     3.113858
1000    3.114659
1001    3.108604
1002    3.107029
1003    3.107242
1004    3.108127
1005    3.111099
1006    3.112540
1007    3.112777
1008    3.111503
1009    3.108619
1010    3.107936
1011    3.107911
1012    3.108147
1013    3.107190
1014    3.108020
1015    3.108231
1016    3.110794
1017    3.108348
1018    3.107585
1019    3.106796
1020    3.106263
1021    3.104141
1022    3.102272
1023    3.102514
1024    3.101308
1025    3.103282
1026    3.105954
1027    3.106142
1028    3.109210
1029    3.110451
1030    3.110773
1031    3.110266
1032    3.107518
1033    3.108712
1034    3.108550
1035    3.107757
1036    3.109938
1037    3.110720
1038    3.113844
1039    3.113149
1040    3.112942
1041    3.114635
1042    3.116151
1043    3.121464
1044    3.118973
1045    3.116778
1046    3.121055
1047    3.123071
1048    3.122469
1049    3.124066
1050    3.125241
1051    3.129287
1052    3.130357
1053    3.131216
1054    3.130832
1055    3.129627
1056    3.129625
1057    3.128084
1058    3.126078
1059    3.123363
1060    3.122424
1061    3.121062
1062    3.120894
1063    3.121923
1064    3.118454
1065    3.115619
1066    3.115358
1067    3.116968
1068    3.118716
1069    3.117719
1070    3.115983
1071    3.112739
1072    3.114938
1073    3.116833
1074    3.115038
1075    3.116844
1076    3.116477
1077    3.115168
1078    3.110358
1079    3.109764
1080    3.112446
1081    3.112665
1082    3.110643
1083    3.110424
1084    3.113095
1085    3.113157
1086    3.112320
1087    3.114350
1088    3.115625
1089    3.115872
1090    3.117947
1091    3.117288
1092    3.114598
1093    3.116524
1094    3.118440
1095    3.116615
1096    3.117766
1097    3.117111
1098    3.116160
1099    3.119032
1100    3.114170
1101    3.114400
1102    3.116013
1103    3.115261
1104    3.115653
1105    3.116750
1106    3.115571
1107    3.115965
1108    3.114710
1109    3.111204
1110    3.110700
1111    3.109955
1112    3.109529
1113    3.112988
1114    3.115528
1115    3.118814
1116    3.122740
1117    3.121401
1118    3.119952
1119    3.120502
1120    3.117595
1121    3.117575
1122    3.117973
1123    3.115855
1124    3.113714
1125    3.116677
1126    3.116332
1127    3.117093
1128    3.116999
1129    3.121750
1130    3.118913
1131    3.121205
1132    3.122231
1133    3.122845
1134    3.125361
1135    3.124373
1136    3.126238
1137    3.123230
1138    3.125850
1139    3.125075
1140    3.125365
1141    3.124826
1142    3.123953
1143    3.125225
1144    3.126098
1145    3.126812
1146    3.127472
1147    3.127853
1148    3.129869
1149    3.131819
1150    3.131888
1151    3.128879
1152    3.131805
1153    3.131950
1154    3.127941
1155    3.127006
1156    3.131233
1157    3.130813
1158    3.130841
1159    3.130242
1160    3.128778
1161    3.127113
1162    3.125635
1163    3.127033
1164    3.130361
1165    3.130419
1166    3.127550
1167    3.129661
1168    3.129048
1169    3.120255
1170    3.121066
1171    3.124536
1172    3.124048
1173    3.121915
1174    3.125477
1175    3.124698

In [105]:
yelp["new"] = yelp["all"]**9/10000

yelp["new"] = (yelp["all"].iloc[-1]/yelp["new"].iloc[-1])*yelp["new"]

In [111]:
yelp.head()

,date,sugar-land,albuquerque-3,hurst,glendale,brentwood,slidell,hillsboro,fresno,sparks,...,valley-stream,burbank,chandler,plano,tyler-2,elk-grove,long-beach,north-little-rock-2,all,new
0,2012-06-02,2.954545,2.7,3.0,2.898074,2.612903,3.242857,3.233333,3.629577,3.95,...,3.884615,3.083333,3.768097,3.318831,3.285714,3.243315,3.091477,3.8,3.159375,3.385333
1,2012-06-03,2.954545,2.7,3.0,2.898074,2.677419,3.242857,3.233333,3.629577,3.95,...,3.884615,3.083333,3.768097,3.318831,3.285714,3.243315,3.091477,3.8,3.158785,3.379646
2,2012-06-04,2.954545,2.7,3.0,2.898074,2.677419,3.242857,3.233333,3.629577,3.95,...,3.884615,3.083333,3.768097,3.318831,3.285714,3.243315,3.091477,3.8,3.157717,3.369377
3,2012-06-05,2.954545,2.7,3.0,2.907376,2.677419,3.242857,3.233333,3.629577,3.95,...,3.884615,3.083333,3.768097,3.318831,3.285714,3.243315,3.091477,3.8,3.154154,3.335314
4,2012-06-06,2.954545,2.7,3.0,2.907376,2.677419,3.242857,3.233333,3.629577,3.95,...,3.884615,3.083333,3.768097,3.318831,3.285714,3.243315,3.201705,3.8,3.155729,3.350328

In [102]:
yelp["all"]**9/10000

0       3.136251
1       3.130983
2       3.121469
3       3.089913
4       3.103822
5       3.113812
6       3.097576
7       3.098093
8       3.082915
9       3.089020
10      3.088970
11      3.095966
12      3.081428
13      3.076053
14      3.070083
15      3.075964
16      3.062023
17      3.079122
18      3.070605
19      3.063242
20      3.061303
21      3.038697
22      3.023651
23      3.021345
24      3.015205
25      3.014483
26      3.025797
27      3.030613
28      3.034625
29      3.026919
30      3.031707
31      3.036843
32      3.030272
33      3.022686
34      3.035642
35      3.021471
36      3.013719
37      2.989795
38      2.988047
39      2.997917
40      2.997941
41      2.998911
42      2.963746
43      2.954457
44      2.964415
45      2.971584
46      2.974213
47      2.978975
48      2.955820
49      2.988847
50      2.973468
51      2.959495
52      2.947709
53      2.931338
54      2.944221
55      2.939555
56      2.941120
57      2.927904
58      2.917109
59      2.896590
60      2.905064
61      2.899007
62      2.900162
63      2.901409
64      2.896412
65      2.899689
66      2.891319
67      2.882677
68      2.888424
69      2.869731
70      2.862988
71      2.862365
72      2.881463
73      2.876743
74      2.862028
75      2.863818
76      2.856206
77      2.853825
78      2.862414
79      2.869615
80      2.882305
81      2.884068
82      2.887019
83      2.882648
84      2.892123
85      2.885307
86      2.922093
87      2.916346
88      2.922886
89      2.920322
90      2.918668
91      2.929120
92      2.927211
93      2.935138
94      2.928028
95      2.922356
96      2.927480
97      2.904063
98      2.915867
99      2.923392
100     2.921885
101     2.929565
102     2.933933
103     2.935792
104     2.935597
105     2.892511
106     2.874739
107     2.877511
108     2.876885
109     2.846609
110     2.868919
111     2.889752
112     2.890678
113     2.886913
114     2.899829
115     2.894905
116     2.893246
117     2.900154
118     2.909399
119     2.904039
120     2.895991
121     2.960094
122     2.954279
123     2.957999
124     2.953091
125     2.959495
126     2.959635
127     2.951515
128     2.931654
129     2.956287
130     2.944928
131     2.937736
132     2.934560
133     2.935732
134     2.925818
135     2.925997
136     2.921641
137     2.921780
138     2.905176
139     2.924295
140     2.922998
141     2.908509
142     2.912517
143     2.910050
144     2.913856
145     2.929149
146     2.938586
147     2.938964
148     2.894486
149     2.890472
150     2.897282
151     2.883953
152     2.887659
153     2.895965
154     2.888919
155     2.894166
156     2.884063
157     2.884348
158     2.881102
159     2.888116
160     2.899361
161     2.874104
162     2.882943
163     2.893614
164     2.886243
165     2.892873
166     2.888892
167     2.933818
168     2.936991
169     2.901609
170     2.905291
171     2.903548
172     2.912565
173     2.886568
174     2.853605
175     2.852525
176     2.826840
177     2.810866
178     2.797529
179     2.804931
180     2.811836
181     2.803712
182     2.784203
183     2.770475
184     2.789629
185     2.767372
186     2.800322
187     2.811017
188     2.798028
189     2.777611
190     2.770471
191     2.758974
192     2.758267
193     2.755535
194     2.759705
195     2.759307
196     2.765834
197     2.762727
198     2.799018
199     2.787906
200     2.760831
201     2.761375
202     2.793297
203     2.783396
204     2.781795
205     2.782212
206     2.784359
207     2.780476
208     2.784976
209     2.799603
210     2.784245
211     2.760222
212     2.756527
213     2.736281
214     2.729585
215     2.741422
216     2.735509
217     2.742437
218     2.740038
219     2.735279
220     2.722997
221     2.721552
222     2.700170
223     2.696357
224     2.680448
225     2.726135
226     2.731612
227     2.723468
228     2.749008
229     2.750433
230     2.747459
231     2.747548
232     2.761065
233     2.773134
234     2.775997
235     2.776844
236     2.774359
237     2.773335
238     2.771716
239     2.759968
240     2.747519
241     2.754055
242     2.758637
243     2.759941
244     2.763209
245     2.750004
246     2.756095
247     2.742940
248     2.732009
249     2.728858
250     2.726603
251     2.716323
252     2.698507
253     2.700514
254     2.704088
255     2.697143
256     2.683321
257     2.701874
258     2.707438
259     2.706845
260     2.696030
261     2.702135
262     2.706621
263     2.704110
264     2.711348
265     2.716812
266     2.708115
267     2.718439
268     2.717139
269     2.730412
270     2.739833
271     2.746424
272     2.751271
273     2.755260
274     2.745397
275     2.753949
276     2.703241
277     2.695495
278     2.691728
279     2.713397
280     2.712221
281     2.710403
282     2.706030
283     2.704856
284     2.709232
285     2.715471
286     2.698674
287     2.684678
288     2.688249
289     2.694033
290     2.685287
291     2.677946
292     2.671053
293     2.681834
294     2.669081
295     2.667247
296     2.674279
297     2.662514
298     2.677123
299     2.674863
300     2.682602
301     2.683348
302     2.696810
303     2.708874
304     2.705304
305     2.703287
306     2.692765
307     2.708910
308     2.707564
309     2.697334
310     2.697992
311     2.701817
312     2.713626
313     2.710453
314     2.706306
315     2.713164
316     2.697474
317     2.695528
318     2.690068
319     2.695682
320     2.699270
321     2.698948
322     2.690917
323     2.666584
324     2.665037
325     2.663871
326     2.661637
327     2.659019
328     2.681988
329     2.687410
330     2.691105
331     2.685829
332     2.685283
333     2.675233
334     2.667526
335     2.683808
336     2.694509
337     2.689102
338     2.667956
339     2.656940
340     2.661952
341     2.687103
342     2.675819
343     2.680474
344     2.689092
345     2.701017
346     2.719597
347     2.714660
348     2.727826
349     2.719415
350     2.738053
351     2.736131
352     2.739509
353     2.729151
354     2.724257
355     2.723406
356     2.745842
357     2.749028
358     2.742167
359     2.720755
360     2.723446
361     2.727381
362     2.724064
363     2.735813
364     2.717762
365     2.698986
366     2.709086
367     2.690310
368     2.697041
369     2.686738
370     2.700583
371     2.696299
372     2.702345
373     2.693154
374     2.704858
375     2.713116
376     2.707331
377     2.712394
378     2.715228
379     2.717218
380     2.727192
381     2.737578
382     2.734844
383     2.738897
384     2.744544
385     2.724848
386     2.706253
387     2.699108
388     2.706202
389     2.707431
390     2.727638
391     2.732733
392     2.730737
393     2.692544
394     2.670850
395     2.672642
396     2.689532
397     2.671243
398     2.699825
399     2.707440
400     2.744337
401     2.727143
402     2.710362
403     2.717842
404     2.729439
405     2.734929
406     2.726710
407     2.724838
408     2.762398
409     2.767119
410     2.759789
411     2.762466
412     2.749528
413     2.759112
414     2.768146
415     2.781226
416     2.799118
417     2.793992
418     2.802104
419     2.788165
420     2.782585
421     2.770625
422     2.760874
423     2.744942
424     2.759981
425     2.757709
426     2.756812
427     2.742272
428     2.743435
429     2.725506
430     2.707786
431     2.699655
432     2.709484
433     2.716310
434     2.701929
435     2.706151
436     2.713252
437     2.732426
438     2.734247
439     2.733259
440     2.733804
441     2.748034
442     2.729395
443     2.739912
444     2.745678
445     2.757160
446     2.738340
447     2.713208
448     2.703178
449     2.706801
450     2.691501
451     2.665644
452     2.670080
453     2.661456
454     2.663324
455     2.673225
456     2.640259
457     2.635549
458     2.671722
459     2.652102
460     2.643626
461     2.643250
462     2.638352
463     2.643838
464     2.632765
465     2.609303
466     2.613815
467     2.618198
468     2.616805
469     2.606708
470     2.603041
471     2.612669
472     2.598816
473     2.604193
474     2.596138
475     2.593725
476     2.554942
477     2.547803
478     2.558724
479     2.534713
480     2.525219
481     2.515995
482     2.511069
483     2.533563
484     2.535910
485     2.520992
486     2.520138
487     2.535463
488     2.539864
489     2.538660
490     2.523066
491     2.519560
492     2.506136
493     2.504811
494     2.486989
495     2.498776
496     2.503275
497     2.479545
498     2.483767
499     2.451480
500     2.449497
501     2.466273
502     2.473289
503     2.471859
504     2.455106
505     2.463258
506     2.468193
507     2.464305
508     2.471580
509     2.470113
510     2.463365
511     2.453390
512     2.461763
513     2.456170
514     2.469648
515     2.466466
516     2.439695
517     2.430261
518     2.431688
519     2.434383
520     2.439088
521     2.432041
522     2.422794
523     2.406578
524     2.397087
525     2.374734
526     2.357500
527     2.373782
528     2.346444
529     2.342203
530     2.322347
531     2.349857
532     2.351802
533     2.380430
534     2.398394
535     2.385599
536     2.378765
537     2.381077
538     2.376144
539     2.395029
540     2.400981
541     2.387489
542     2.396190
543     2.383387
544     2.394006
545     2.385863
546     2.379536
547     2.388620
548     2.359267
549     2.367210
550     2.361428
551     2.362641
552     2.364696
553     2.371917
554     2.386739
555     2.387709
556     2.392668
557     2.387434
558     2.404111
559     2.398236
560     2.395430
561     2.437666
562     2.441837
563     2.442345
564     2.428024
565     2.432591
566     2.417788
567     2.412817
568     2.389252
569     2.381816
570     2.382225
571     2.388652
572     2.401417
573     2.409447
574     2.406261
575     2.398593
576     2.404495
577     2.397220
578     2.359319
579     2.359180
580     2.352945
581     2.352408
582     2.366108
583     2.363334
584     2.387779
585     2.404990
586     2.408911
587     2.402804
588     2.404538
589     2.458655
590     2.467221
591     2.479597
592     2.484681
593     2.472415
594     2.507639
595     2.510678
596     2.491256
597     2.504506
598     2.516465
599     2.529964
600     2.518729
601     2.507884
602     2.516041
603     2.522005
604     2.511167
605     2.506119
606     2.513234
607     2.505541
608     2.528030
609     2.551920
610     2.550048
611     2.522885
612     2.508950
613     2.499926
614     2.493724
615     2.487047
616     2.473206
617     2.453648
618     2.442472
619     2.428341
620     2.420400
621     2.416716
622     2.415756
623     2.420588
624     2.447984
625     2.434720
626     2.442542
627     2.433307
628     2.446854
629     2.436880
630     2.417668
631     2.391995
632     2.387763
633     2.401145
634     2.386313
635     2.374673
636     2.360529
637     2.363665
638     2.352204
639     2.353308
640     2.350709
641     2.362811
642     2.360507
643     2.353329
644     2.330782
645     2.358099
646     2.368691
647     2.361095
648     2.372610
649     2.379786
650     2.364104
651     2.349376
652     2.346349
653     2.343983
654     2.352056
655     2.345585
656     2.351953
657     2.348363
658     2.337096
659     2.340005
660     2.342875
661     2.346836
662     2.357399
663     2.360329
664     2.361716
665     2.371426
666     2.368345
667     2.387135
668     2.389650
669     2.394263
670     2.393329
671     2.389221
672     2.375232
673     2.361946
674     2.360616
675     2.357762
676     2.362258
677     2.399691
678     2.408500
679     2.428767
680     2.442094
681     2.459994
682     2.479939
683     2.485115
684     2.491982
685     2.500070
686     2.500938
687     2.493443
688     2.477567
689     2.479062
690     2.482633
691     2.476172
692     2.471556
693     2.474418
694     2.488351
695     2.492036
696     2.496171
697     2.487789
698     2.507077
699     2.484826
700     2.488684
701     2.481232
702     2.491993
703     2.491064
704     2.486397
705     2.491412
706     2.482405
707     2.482775
708     2.488235
709     2.490169
710     2.483388
711     2.516731
712     2.516951
713     2.501624
714     2.532095
715     2.558215
716     2.569981
717     2.589255
718     2.593294
719     2.594644
720     2.585400
721     2.591459
722     2.594626
723     2.619736
724     2.628840
725     2.622171
726     2.595561
727     2.597529
728     2.629273
729     2.614195
730     2.628670
731     2.628994
732     2.625421
733     2.635373
734     2.651902
735     2.664504
736     2.659230
737     2.634514
738     2.646715
739     2.655016
740     2.674381
741     2.674284
742     2.682787
743     2.659541
744     2.658878
745     2.657640
746     2.667551
747     2.686743
748     2.680846
749     2.670077
750     2.656235
751     2.648420
752     2.648884
753     2.670999
754     2.695744
755     2.667221
756     2.664590
757     2.660568
758     2.678597
759     2.683578
760     2.689045
761     2.662762
762     2.676594
763     2.661483
764     2.673108
765     2.661007
766     2.641756
767     2.638513
768     2.657913
769     2.666106
770     2.679104
771     2.682153
772     2.692192
773     2.646689
774     2.672133
775     2.675951
776     2.686087
777     2.690777
778     2.697478
779     2.692648
780     2.719374
781     2.718328
782     2.726902
783     2.740054
784     2.751245
785     2.731648
786     2.740546
787     2.742794
788     2.747987
789     2.749534
790     2.759243
791     2.771439
792     2.765368
793     2.765034
794     2.732686
795     2.716625
796     2.723571
797     2.742840
798     2.738829
799     2.745867
800     2.751663
801     2.758560
802     2.761771
803     2.745778
804     2.713481
805     2.697456
806     2.681802
807     2.663387
808     2.664184
809     2.679491
810     2.694305
811     2.695578
812     2.681731
813     2.689045
814     2.704860
815     2.699170
816     2.699101
817     2.701746
818     2.713093
819     2.694666
820     2.674412
821     2.678616
822     2.690193
823     2.673289
824     2.713724
825     2.688780
826     2.659647
827     2.645475
828     2.643102
829     2.647156
830     2.652187
831     2.664053
832     2.664661
833     2.681699
834     2.630311
835     2.629842
836     2.634671
837     2.625534
838     2.629381
839     2.619955
840     2.610655
841     2.616070
842     2.611212
843     2.619181
844     2.629025
845     2.622534
846     2.620591
847     2.619709
848     2.635490
849     2.629347
850     2.619643
851     2.612500
852     2.615292
853     2.601769
854     2.593099
855     2.551546
856     2.552473
857     2.539674
858     2.566828
859     2.573730
860     2.580402
861     2.578227
862     2.563700
863     2.592573
864     2.592917
865     2.609879
866     2.610842
867     2.602275
868     2.599100
869     2.601253
870     2.608708
871     2.605386
872     2.600860
873     2.611385
874     2.618685
875     2.611031
876     2.616192
877     2.611167
878     2.630289
879     2.615028
880     2.583480
881     2.556729
882     2.557529
883     2.546262
884     2.531929
885     2.529480
886     2.513526
887     2.500527
888     2.506125
889     2.512279
890     2.506453
891     2.496961
892     2.542538
893     2.558269
894     2.568653
895     2.557829
896     2.525877
897     2.530001
898     2.547188
899     2.545730
900     2.546201
901     2.547480
902     2.541930
903     2.513183
904     2.531817
905     2.549425
906     2.539618
907     2.530932
908     2.530057
909     2.538461
910     2.542401
911     2.525693
912     2.543300
913     2.545968
914     2.544681
915     2.543814
916     2.540053
917     2.554245
918     2.575024
919     2.565116
920     2.557923
921     2.556163
922     2.568687
923     2.575946
924     2.556217
925     2.554190
926     2.610510
927     2.604405
928     2.606352
929     2.603613
930     2.590668
931     2.605327
932     2.602399
933     2.647679
934     2.634404
935     2.640890
936     2.651155
937     2.640034
938     2.633222
939     2.619612
940     2.628406
941     2.632451
942     2.634997
943     2.617673
944     2.591432
945     2.594339
946     2.599429
947     2.600175
948     2.611684
949     2.619817
950     2.631822
951     2.643041
952     2.645325
953     2.648060
954     2.640152
955     2.628103
956     2.623532
957     2.620632
958     2.640473
959     2.612843
960     2.593281
961     2.578082
962     2.592790
963     2.601244
964     2.593918
965     2.605699
966     2.576584
967     2.568242
968     2.575882
969     2.571942
970     2.589414
971     2.583074
972     2.582807
973     2.598292
974     2.610421
975     2.616455
976     2.622063
977     2.624592
978     2.624911
979     2.632948
980     2.616579
981     2.627892
982     2.627699
983     2.652201
984     2.652969
985     2.654163
986     2.638682
987     2.642977
988     2.661705
989     2.673566
990     2.689298
991     2.692540
992     2.705273
993     2.685313
994     2.701519
995     2.751198
996     2.739744
997     2.749885
998     2.750906
999     2.752256
1000    2.758636
1001    2.710742
1002    2.698405
1003    2.700072
1004    2.707006
1005    2.730385
1006    2.741795
1007    2.743675
1008    2.733585
1009    2.710860
1010    2.705507
1011    2.705308
1012    2.707159
1013    2.699664
1014    2.706164
1015    2.707820
1016    2.727983
1017    2.708739
1018    2.702755
1019    2.696588
1020    2.692430
1021    2.675920
1022    2.661452
1023    2.663326
1024    2.654016
1025    2.669262
1026    2.690020
1027    2.691486
1028    2.715504
1029    2.725277
1030    2.727818
1031    2.723818
1032    2.702232
1033    2.711591
1034    2.710324
1035    2.704101
1036    2.721235
1037    2.727393
1038    2.752148
1039    2.746620
1040    2.744980
1041    2.758447
1042    2.770552
1043    2.813354
1044    2.793220
1045    2.775575
1046    2.810043
1047    2.826422
1048    2.821520
1049    2.834534
1050    2.844142
1051    2.877453
1052    2.886321
1053    2.893459
1054    2.890270
1055    2.880271
1056    2.880255
1057    2.867518
1058    2.851008
1059    2.828797
1060    2.821154
1061    2.810100
1062    2.808741
1063    2.817086
1064    2.789038
1065    2.766298
1066    2.764212
1067    2.777094
1068    2.791149
1069    2.783121
1070    2.769211
1071    2.743367
1072    2.760860
1073    2.776012
1074    2.761656
1075    2.776107
1076    2.773165
1077    2.762699
1078    2.724543
1079    2.719863
1080    2.741045
1081    2.742785
1082    2.726786
1083    2.725062
1084    2.746192
1085    2.746684
1086    2.740045
1087    2.756177
1088    2.766345
1089    2.768325
1090    2.784955
1091    2.779662
1092    2.758148
1093    2.773536
1094    2.788920
1095    2.774265
1096    2.783506
1097    2.778243
1098    2.770628
1099    2.793689
1100    2.754743
1101    2.756573
1102    2.769448
1103    2.763441
1104    2.766569
1105    2.775353
1106    2.765914
1107    2.769068
1108    2.759044
1109    2.731216
1110    2.727238
1111    2.721366
1112    2.718016
1113    2.745346
1114    2.765569
1115    2.791932
1116    2.823726
1117    2.812843
1118    2.801119
1119    2.805562
1120    2.782131
1121    2.781966
1122    2.785170
1123    2.768184
1124    2.751115
1125    2.774764
1126    2.772005
1127    2.778100
1128    2.777349
1129    2.815677
1130    2.792731
1131    2.811256
1132    2.819583
1133    2.824581
1134    2.845128
1135    2.837046
1136    2.852321
1137    2.827718
1138    2.849140
1139    2.842788
1140    2.845161
1141    2.840744
1142    2.833611
1143    2.844013
1144    2.851170
1145    2.857041
1146    2.862467
1147    2.865610
1148    2.882277
1149    2.898480
1150    2.899051
1151    2.874077
1152    2.898361
1153    2.899568
1154    2.866334
1155    2.858636
1156    2.893602
1157    2.890110
1158    2.890343
1159    2.885367
1160    2.873242
1161    2.859514
1162    2.847375
1163    2.858858
1164    2.886356
1165    2.886835
1166    2.863114
1167    2.880553
1168    2.875481
1169    2.803567
1170    2.810129
1171    2.838373
1172    2.834389
1173    2.817021
1174    2.846076
1175    2.839699

In [60]:
path_in = os.path.join(my_path, "../data/ratings/")

yelp= pd.read_csv(path_in + "all_yelps_rates_" + c +".csv")
yelp["date"] = pd.to_datetime(yelp["date"], infer_datetime_format=True)

path_in = os.path.join(my_path, "../data/stock/")
    
df_tick= pd.read_csv(path_in +c + "_tick_df.csv")

## This is normalised, but I don't see why I shouldn't 
df_tick = df_tick.fillna(method="bfill").fillna(method="ffill")

df_tick = df_tick[["close","date"]]

df_tick["date"] = pd.to_datetime(df_tick["date"], infer_datetime_format=True)

df_tick = df_tick.set_index("date")
    
df_tick = pd.merge(df_tick, yelp.set_index("date") , left_index=True, right_index=True, how="outer")

In [ ]:
corr_mat = df_tick.corr()

from scipy.stats import pearsonr
import pandas as pd

def calculate_pvalues(df):
    df = df.dropna()._get_numeric_data()
    dfcols = pd.DataFrame(columns=df.columns)
    pvalues = dfcols.transpose().join(dfcols, how='outer')
    for r in df.columns:
        for c in df.columns:
            pvalues[r][c] = round(pearsonr(df[r], df[c])[1], 12)
    return pvalues


calculate_pvalues(df_tick)

In [62]:
pd.set_option('display.max_rows',None)

In [68]:
corr_mat[corr_mat["glendale"]>0.6]

,close,sugar-land,albuquerque-3,hurst,glendale,brentwood,slidell,hillsboro,fresno,sparks,...,torrance,valley-stream,burbank,chandler,plano,tyler-2,elk-grove,long-beach,north-little-rock-2,all
glendale,0.568939,-0.071333,0.541669,0.298744,1.000000,0.706953,-0.173205,0.501547,-0.464717,0.172242,...,-0.462877,0.016433,-0.230625,-0.255942,0.517476,0.483890,0.406656,-0.633628,-0.548821,0.428694
brentwood,0.428360,0.179292,0.606408,0.314526,0.706953,1.000000,-0.221235,0.138583,-0.328041,0.066627,...,-0.375401,-0.067836,-0.279706,-0.033589,0.131985,0.686657,0.395250,-0.435997,-0.694588,0.513008
oklahoma-city,0.517667,0.138171,0.538783,0.172585,0.720153,0.757957,-0.135837,0.364361,-0.161716,0.085167,...,-0.303654,-0.071333,-0.171103,-0.109366,0.190419,0.642452,0.544487,-0.397109,-0.533206,0.540016
miamisburg-2,0.487652,0.032199,0.388940,0.203344,0.741135,0.710199,-0.048554,0.453494,-0.618892,0.023704,...,-0.470101,-0.031003,-0.362390,-0.420130,0.382975,0.538000,0.151033,-0.753199,-0.584314,0.332098
rancho-santa-margarita-2,0.455861,0.425162,0.530865,0.389851,0.670061,0.732833,-0.283627,0.172792,-0.428914,0.107259,...,-0.582400,-0.264925,-0.432495,-0.265672,0.206443,0.678118,0.196580,-0.539454,-0.707565,0.508082
eugene-2,0.292182,0.404762,0.606685,0.592456,0.682131,0.624572,-0.385407,0.201704,-0.595516,-0.080387,...,-0.811195,-0.443885,-0.660640,-0.099582,0.175424,0.712404,0.168263,-0.652626,-0.799847,0.306847
doral,0.485901,0.260376,0.546352,0.577080,0.685015,0.607009,-0.267526,0.178681,-0.487568,0.216950,...,-0.678573,-0.402296,-0.454481,-0.000774,0.398931,0.606330,0.330283,-0.535771,-0.664146,0.460408
nanuet,0.318618,0.523488,0.762709,0.582412,0.647983,0.758112,-0.400124,0.114494,-0.482071,-0.008960,...,-0.741986,-0.492565,-0.630408,0.025832,0.085107,0.815468,0.330515,-0.607347,-0.845459,0.363501
coral-springs-2,0.576179,0.011769,0.402696,0.250043,0.699554,0.538563,-0.211780,0.243901,-0.639601,0.155014,...,-0.475547,-0.112848,-0.277380,-0.325826,0.434890,0.393019,0.140668,-0.696722,-0.427941,0.268661
peoria,0.564411,0.016738,0.315793,0.303572,0.721429,0.500882,-0.031103,0.411494,-0.730906,0.238650,...,-0.599801,-0.166104,-0.399359,-0.386422,0.549720,0.331892,0.040317,-0.736769,-0.435171,0.275278
tallahassee,0.379838,0.275248,0.449609,0.474514,0.631304,0.487148,-0.287052,0.255358,-0.852223,-0.120920,...,-0.737825,-0.432408,-0.676329,-0.298573,0.392028,0.572020,0.010155,-0.869004,-0.601410,0.082646
sacramento-3,0.671399,-0.179265,0.169009,0.149194,0.636457,0.547176,0.082774,0.383563,-0.089937,0.465059,...,-0.248115,0.018154,0.036278,-0.218466,0.524963,0.343895,0.431265,-0.222179,-0.284335,0.625998
tucson,0.375927,-0.060552,0.468052,0.222698,0.715524,0.636114,-0.186015,0.276681,-0.586602,-0.215190,...,-0.378378,0.107673,-0.289411,-0.374093,0.225730,0.380913,0.128278,-0.692835,-0.435857,0.189357
corona,0.361633,-0.017726,0.590096,0.102801,0.606833,0.471101,-0.341169,0.284331,-0.170642,-0.156031,...,-0.119688,0.109738,0.003527,-0.053981,0.221606,0.346514,0.621968,-0.326421,-0.332675,0.356062
westlake-village,0.482556,0.246382,0.529224,0.304145,0.641815,0.816676,-0.205279,0.145536,-0.258687,0.052330,...,-0.385563,-0.127611,-0.286464,-0.136007,0.112445,0.663874,0.385847,-0.428375,-0.588587,0.631225
miami-2,0.453197,0.390384,0.542259,0.683325,0.602928,0.621647,-0.361911,0.013919,-0.628073,0.058391,...,-0.784709,-0.597406,-0.648186,0.053784,0.358166,0.699704,0.231034,-0.628626,-0.737124,0.252709
baton-rouge,0.626382,0.136033,0.345988,0.430287,0.631448,0.624555,-0.104403,0.134291,-0.543950,0.169859,...,-0.454772,-0.260538,-0.362815,-0.199472,0.341113,0.489014,0.127240,-0.615601,-0.478297,0.342162