In [1]:
import pandas as pd
import os

my_path = os.path.abspath(os.path.dirname('__file__'))
path = os.path.join(my_path, "../input_fields.csv")

input_fields = pd.read_csv(path)

c= "CPKI"

#code = input_fields["code_or_ticker"]

full_frame = pd.DataFrame()

my_path = os.path.abspath(os.path.dirname('__file__'))

coll= pd.read_csv(my_path +"/full_synth/"+c+"_full.csv")

In [2]:
coll.head()

,date,open,high,low,close,volume,customer_rating_pca,customer_rating_min,customer_rating_max,customer_rating_std,...,Final_Culture Values_bfill,Final_Career Opportunities_bfill,Final_Comp Benefits_bfill,Final_Senior Management_bfill,Interview Date_bfill,perc_acc_bfill,allEmployeeHireCount_bfill,employee_count_bfill,employee_add_bfill,employee_left_bfill
0,2012-01-03,45.67,46.13,43.94,4.729652,402336,-3.220182,0.0,4.433333,1.073454,...,2.941169,2.545342,2.416424,2.142441,2012-04-23,0.584996,27.0,3229.0,-7.0,42.0
1,2012-01-04,43.99,44.68,43.23,4.780139,455202,-3.220182,0.0,4.433333,1.073454,...,2.941169,2.545342,2.416424,2.142441,2012-04-23,0.584996,27.0,3229.0,-7.0,42.0
2,2012-01-05,44.14,45.52,43.48,4.874668,271429,-3.220182,0.0,4.433333,1.073454,...,2.941169,2.545342,2.416424,2.142441,2012-04-23,0.584996,27.0,3229.0,-7.0,42.0
3,2012-01-06,45.42,46.18,44.98,4.930526,199144,-3.220182,0.0,4.433333,1.073454,...,2.941169,2.545342,2.416424,2.142441,2012-04-23,0.584996,27.0,3229.0,-7.0,42.0
4,2012-01-09,46.31,46.32,45.25,4.916561,292980,-3.220182,0.0,4.433333,1.073454,...,2.941169,2.545342,2.416424,2.142441,2012-04-23,0.584996,27.0,3229.0,-7.0,42.0